{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/css/jquery.jOrgChart.css') }}"/>
    <div class="bloc_page">
        <select id="users_list">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <button type="button" id="user_add">Ajouter</button>
        <ul id="org" style="display:none">
        </ul>
        <div id="hierarchie">
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('/js/jquery.jOrgChart.js') }}"></script>
    <script type="text/javascript">
        if ($("#org li").length > 0) {
            $("#org").jOrgChart({
                chartElement: "#hierarchie",
                dragAndDrop: true
            });
        }

        var i = 0;
        $("#user_add").click(function () {
            $("#hierarchie").empty();
            var opt_sel = $("#users_list option:selected");

            if ($("#org li").length == 0) {
                $("<li/>").text(opt_sel.text() + "_" + i++).appendTo("#org");
            }
            else {
                var premier_ul = $("#org li ul:first");
                if (premier_ul.length == 0) {
                    premier_ul = $("<ul/>").appendTo($("#org li:first"));
                }
                $("<li/>").text(opt_sel.text() + "_" + i++).appendTo(premier_ul);
            }

            $("#org").jOrgChart({
                chartElement: "#hierarchie",
                dragAndDrop: true
            });
        });
    </script>
{% endblock %}