{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ asset("/js/colorpicker.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>

    <script src="{{ asset("/js/select2.min.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/select2.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/organigramme.css") }}"/>




    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;&nbsp;&nbsp;Créer / éditer un groupe fonctionnel ou un service
        </div>
        <form id="form_hierarchy" method="post" action="{{ path("create_hierarchy") }}">
        <div id="edit_service">
            Nom <input type="text" name="name" id="nom_groupe" value=""/>
            <select id="type_groupe" name="type_groupe">
                <option value="1">Groupe fonctionnel</option>
                <option value="2">Service</option>
            </select>
        </div>
        <div id="toolbar">
            Utilisateurs
            <select id="listUsers">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.prenom }} {{ user.nom }}</option>
                {% endfor %}
            </select>
            <button type="button" id="addUser">OK</button>
            <button  type="button" id="btnSupprimer">Supprimer</button>
            <span id="picker">Couleur</span>
        </div>
        <br>

        <script src="{{ asset("/js/organigramme.js") }}"></script>

        <input type="hidden" name="tree" id="tree" />
        </form>

        <button class="btn btn-success" id="btn-envoyer">Enregistrer</button>
    </div>

    <script type="text/javascript">
        /***********Envoi des données ***************************/
        $(document).ready(function() {
            $("#btn-envoyer").click(function(e) {
                e.preventDefault();
                var nodes = tree.nodes(root);
                $("#tree").val(JSON.stringify(getDataFromNodes(nodes[0])));
                $("#form_hierarchy").submit();
            });
        });
    </script>
{% endblock %}