{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ asset("/js/colorpicker.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>

    <script src="{{ asset("/js/select2.min.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/select2.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/organigramme.css") }}"/>




    <div class="bloc_page">
	<div class="titre_page">
	    <span class="glyphicon glyphicon-folder-open"></span>
	    &nbsp;&nbsp;&nbsp;Editer un groupe fonctionnel
	</div>

	<form id="form_hierarchy" method="post" action="{{ path("update_groupe") }}">
	    <div id="edit_service">
            <input type="hidden" name="id" id="id_groupe" value="{{ groupe.id }}"/>
		Nom&nbsp;:&nbsp;  <input type="text" name="nom" id="nom_groupe" value="{{ groupe.Nom }}"/>
		<select id="type_groupe" name="type_groupe">
			<option value="1">Groupe fonctionnel</option>
			<option value="2">Service</option>
		    </select>
		    &nbsp;&nbsp;
		    <button id="btn-envoyer" type="button" class="btn btn-success btn-envoyer">
			<span class="glyphicon glyphicon-ok" style="color: #ffffff"></span>
			Enregistrer
		    </button>
		    &nbsp;&nbsp;
		    <button id="btn-annuler" type="button" class="btn btn-danger btn-envoyer">
			<span class=" glyphicon glyphicon-remove" style="color: #ffffff"></span>
			Annuler
		    </button>
	    </div>

	    <div id="toolbar">
		Utilisateurs&nbsp;:&nbsp;
		<select id="listUsers">
		    {% for user in users %}
			<option value="{{ user.id }}">{{ user.prenom }} {{ user.nom }}</option>
		    {% endfor %}
		</select>

		<button type="button" id="addUser" class="btn btn-default btn-envoyer">
		    <span class="glyphicon glyphicon-plus" style="color: #6D6E70"></span>
		    Ajouter
		</button>

		<button type="button" id="btnSupprimer" class="btn btn-danger btn-envoyer">
		    <span class="glyphicon glyphicon-minus" style="color: #ffffff"></span>
		    Supprimer
		</button>

		<button type="button" id="picker" class="btn btn-default btn-envoyer">
		    <span class="glyphicon glyphicon-star" style="color: #6D6E70;"></span>
		    <span class="textcolor">Couleur</span>
		    <span class="glyphicon glyphicon-star" style="color: #6D6E70;"></span>
		</button>
	    </div>

	    <br>
        <script type="text/javascript">
            var treeData = {% if groupe.json %} {{ groupe.json | raw }} {% else %} "" {% endif %};
        </script>
	    <script src="{{ asset("/js/organigramme.js") }}"></script>

	    <input type="hidden" name="tree" id="tree" />
	</form>
    </div>

    <script type="text/javascript">
	/***********Envoi des données ***************************/
	$(document).ready(function() {
	    $("#btn-envoyer").click(function(e) {
            e.preventDefault();
            var nodes = tree.nodes(root);
            $("#tree").val(JSON.stringify(getDataFromNodes(nodes[0])));
            $("#form_hierarchy").submit();
	    });
	});
    </script>
{% endblock %}