{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ asset("/js/colorpicker.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>

    <script src="{{ asset("/js/select2.min.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/select2.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/colorpicker.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/organigramme.css") }}"/>


    <div class="bloc_page">
	<div class="titre_page">
	    {% if organigramme is defined %}
		<span class="glyphicon glyphicon-sort-by-alphabet"></span>
		&nbsp;&nbsp;&nbsp;Organigramme
	    {% elseif groupe is defined %}
		<span class="glyphicon glyphicon-floppy-open"></span>
		&nbsp;&nbsp;&nbsp;Éditer un service organisationnel
	    {% else %}
		<span class="glyphicon glyphicon-floppy-disk"></span>
		&nbsp;&nbsp;&nbsp;Créer un service organisationnel
	    {% endif %}
	</div>
	{% include 'SesileUserBundle:Hierarchie:legende.organigramme.html.twig' %}

	<form id="form_hierarchy" method="post" action="{% if groupe is defined %}{{ path("update_groupe") }} {% else %}{{ path("new_groupe") }} {% endif %}">
        <div class="row">
            <div class="col-lg-12 col-lg-push-1">
                <h4>Choisir les types de classeur du service</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-push-1">
                <div class="row">
                    {% for type in form.types %}
                    <div class="col-lg-4">
                        <div class="checkbox">{{ form_widget(type) }}{{ form_label(type) }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-4 col-lg-push-1">
	        {#<div id="edit_service">#}

                <div class="row">
                    {% if groupe is defined %}
                        <input type="hidden" name="id" id="id_groupe" value="{% if groupe is defined %}{{ groupe.id }}{% endif %}"/>
                    {% endif %}
                    Nom du service&nbsp;:&nbsp;
                    <input type="text" name="nom" class="form-control" id="nom_groupe"{% if groupe is defined %} value="{{ groupe.Nom }}" {% endif %}/>
                    &nbsp;&nbsp;

                    <button id="btn-envoyer" type="button" class="btn btn-success sesiletooltip" data-original-title="Enregistrer">
                        <span class="glyphicon glyphicon-ok" style="color: #ffffff"></span>&nbsp;&nbsp;Enregistrer
                    </button>
                </div>

            </div>
        </div>
		{% include 'SesileUserBundle:Hierarchie:tools.html.twig' %}
	    <br>


	    {% if groupe is defined %}
		<script type="text/javascript">
		    var treeData = {% if groupe.json %} {{ groupe.json | raw }} {% else %} "" {% endif %};
		</script>
	    {% endif %}
	    <script src="{{ asset("/js/organigramme.js") }}"></script>

	    <input type="hidden" name="tree" id="tree"/>

	</form>

    </div>

    <script type="text/javascript">
	/***********Envoi des données ***************************/
	$(document).ready(function () {
	    $("#btn-envoyer").click(function (e) {
		e.preventDefault();
		var nodes = tree.nodes(root);
		$("#tree").val(JSON.stringify(getDataFromNodes(nodes[0])));
		$("#form_hierarchy").submit();
	    });
	});
    </script>

    <div class="row">
        <div class="col-lg-3 col-lg-push-9">
            <a class="btn btn-primary navbar-btn" href="{{ path('groupes') }}">
                <span class="glyphicon glyphicon-share-alt"></span>
                Retour aux services organisationnels
            </a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
{% endblock %}