{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            &nbsp;&nbsp;&nbsp;Liste des services organisationnels
        </div>
        <table class="table tableau dtables">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for groupe in groupes %}
                <tr class="user-row" data-id="{{ groupe.id }}">
                    <td><a href="{{ path("service_edit", {'id' : groupe.id }) }}" class="link-datatable">{{ groupe.Nom }}</a></td>
                    <td class="boutons_action">
                        <a href="{{ path("service_edit", {'id' : groupe.id }) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a href="#" class="delete_button">
                        <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <form class="delete_form" method="POST" action="{{ path("service_delete", {'id' : groupe.id }) }}"></form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path("create_service") }}">
            <button type="button" class="btn btn-default navbar-btn">
                Ajouter un service organisationnel
            </button>
        </a>
        <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
        <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
        <script type="text/javascript">
            $(".dtables").dataTable({
                "oLanguage": {
                    "sSearch": "Rechercher&nbsp;:",
                    "sInfo": "Groupe  _START_ &agrave; _END_ sur _TOTAL_",
                    "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sLengthMenu": "Afficher _MENU_ groupes par page",
                    "oPaginate": {
                        "sFirst": "",
                        "sPrevious": "",
                        "sNext": "",
                        "sLast": "",
                    },
		    "sZeroRecords": "Aucun groupe &agrave; afficher",
		    "sEmptyTable": "Aucun groupe &agrave; afficher"
                },
                "iDisplayLength": 15,
                "aLengthMenu": [15, 30, 50, 100],
                "sDom": 'lft<"footer_datatables"p>',
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [ 1 ] }
                ],
                "sPaginationType": "full_numbers"
            });

            $(".delete_button").click(function () {
                if(confirm("Confirmer la suppression de ce groupe?")) {
                    $(this).next(".delete_form").trigger("submit");
                }
            });
        </script>
    </div>
{% endblock %}