<div class="row descriptionfichier">

<div class="col-md-5">
    <div class="thumbnail">
        <img id="fileimgpreview" style="width: 180px; height: 180px">

        <div class="caption">
            <h3 class="h3break">{{ name }}</h3>

            {% if doc is not null %}
                {% if (doc.type  == "application/vnd.ms-excel" ) or
                (doc.type == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet") or
                (doc.type == "application/msword") or
                (doc.type  == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") %}

                    <!--Bouton Editer Visualiseur PES -->

                    {#<a id='modifbutton' style="display: none" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modifbutton"
                       data-whatever="@mdo" class=".bs-example-modal-lg"
                       onclick="javascript:fireDocument('http://{{ servername }}/server.php/{{ doc.repourl }}');return false;"
                       href="#"
                       class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editer
                    </a>#}

                    {% if isvalidant %}
                        <a href="#" class="btn btn-primary" id="visubutton">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Editer
                        </a>
                    {%  endif %}



                    {#<a type="submit" class="btn btn-primary" role="button" data-toggle="modal" id='modifbutton'
                       data-whatever="@mdo" class=".bs-example-modal-lg">
                        <span class="glyphicon glyphicon-pencil"></span>
                        &nbsp;Editer
                    </a>#}




                {% endif %}


                {% if doc.type != 'application/pdf' and signature %}
                    <a id='download' href="{{ path('download_doc', {'id':doc.id}) }}"
                       class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        Télécharger {#Original#}
                    </a>&nbsp;

                {% else %}
                        {#<a id='download' href="{{ path('download_doc_visa', {'id':doc.id}) }}" class="btn btn-default" role="button" target="_blank">
                            <span class="glyphicon glyphicon-download-alt"></span>Télécharger visa
                        </a>&nbsp;

                        <a id='download' href="{{ path('download_doc_sign', {'id':doc.id}) }}" class="btn btn-default" role="button" target="_blank">
                            <span class="glyphicon glyphicon-download-alt"></span>Télécharger signa
                        </a>#}
                    <div class="row">
                        <div class="col-md-6 col-md-push-3">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Télécharger le fichier <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('download_doc', {'id':doc.id}) }}">Télécharger l'original</a></li>
                                    <li><a href="{{ path('download_doc_visa', {'id':doc.id}) }}" target="_blank">Télécharger visa</a></li>
                                    <li {% if signature is null %}class="disabled"{% endif %}><a href="{{ path('download_doc_sign', {'id':doc.id}) }}" target="_blank">Télécharger signature</a></li>
                                    <li {% if signature is null %}class="disabled"{% endif %}><a href="{{ path('download_doc_all', {'id':doc.id}) }}" target="_blank">Télécharger visa + signature</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script>$('.dropdown-toggle').dropdown();</script>

                {% endif %}
            {% endif %}
            {% if isvalidant %}
                <button id='deleteconfirm' type="button" class="btn btn-danger dropdown-toggle dz-remove" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-trash"> </span>
                    Supprimer
                </button>
            {% endif %}

        </div>
    </div>
</div>

<div class="col-md-7">
    <h4>Historique</h4>

    {% if doc is null %}
        Aucun historique pour ce document
    {% else %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for histo in historyinverse %}

                {% if histo.date|date("U") > "-30 seconds"|date("U") %}
                    <tr class="success">

                {% else %}
                    <tr>
                {% endif %}

                <td><strong>{{ histo.date|date('d.m.Y H:i:s') }} </strong></td>
                <td> {{ histo.comment }} </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
</div>

{#
    <div class="col-md-2 pull-right">
    <div class="btn-group pull-right">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-trash"> </span>
                      Supprimer <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="deleteconfirm" href="#">Je confirme !</a></li>

                </ul>
            </div>
        </div>
    </div> #}
</div>

<script type="text/javascript">

    {# Script pour l edition de document #}
    var fNewDoc = false;
    var EditDocumentButton = null;
    try {
        EditDocumentButton = new ActiveXObject('SharePoint.OpenDocuments.3');
        if (EditDocumentButton != null) {
            fNewDoc = true;
        }
    } catch (e) {}

    var L_EditDocumentError_Text = "Editing not supported.";
    var L_EditDocumentRuntimeError_Text = "Sorry, couldn't open the document.";
    var hownowPlugin = document.getElementById("winFirefoxPlugin");
    try {
       var version = hownowPlugin.GetOfficeVersion();
    } catch (err) {
        var version = 15;
    }

    function editDocument(strDocument) {
        if (fNewDoc) {
            if (!EditDocumentButton.EditDocument(strDocument)) {
                alert(L_EditDocumentRuntimeError_Text);
            }
        } else {
            hownowPlugin.EditDocument(strDocument, version);
        }
    }


    $('#visubutton').click(function(e) {
        e.preventDefault();
        editDocument('http://{{ servername }}/server.php/{{ doc.repourl }}');

        idDoc = {{ doc.id}};
        $.ajax({
            url: Routing.generate('edit_history_document', {id:idDoc}),
            type: "post"
//            success: function () {
//                console.log('historique ok')
//            },
//            error: function () {
//                console.log('historique pas ok !!')
//            }
        });
    });

    // On supprime le bouton pour le plugin MS Ofice 2013
    if(version == 15) {
        $('#visubutton').css('display', 'none');
    }
    {# FIN du Script pour l edition de document #}

    $("#deleteconfirm").click(function (e) {

        if (confirm('Confirmez-vous la suppression du fichier ?')) {
            {% if doc is null %}
                removedropzonefile("{{ name }}");
            {% else %}
                removeFile("{{ doc.id }}");
            {% endif %}
        } else {

        }

    });

    {% if doc is null %}

    $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/BLANK/icon_blanc_256.png') }}");

    {% else %}

    $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/BLANK/icon_blanc_256.png') }}");

    if ("{{ doc.type }}" == "application/pdf") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/PDF/icon_pdf_256.png') }}");
    }

    if ("{{ doc.type }}" == "application/msword" || "{{ doc.type }}" == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/WORD/icon_doc_256.png') }}");
    }

    if ("{{ doc.type }}" == "application/zip") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/ZIP/icon_zip_256.png') }}");
    }

    if ("{{ doc.type }}" == "image/png") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/PNG/icon_png_256.png') }}");
    }
    if ("{{ doc.type }}" == "image/png") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/PNG/icon_png_256.png') }}");
    }

    if ("{{ doc.type }}" == "image/jpeg") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/JPG/icon_jpg_256.png') }}");
    }

    if ("{{ doc.type }}" == "text/xml" || "{{ doc.type }}" == "application/xml") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/XML/icon_xml_256.png') }}");
    }

    if ("{{ doc.type }}" == "application/vnd.ms-excel" || "{{ doc.type }}" == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/XLS/icon_xls_256.png') }}");
    }

    if ("{{ doc.type }}" == "application/x-rar") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/RAR/icon_rar_256.png') }}");
    }

    if ("{{ doc.type }}" == "text/plain") {
        $('#fileimgpreview').attr("src", "{{ asset('bundles/sesiledocument/img/ICONS/TXT/icon_txt_256.png') }}");
    }

    {% endif %}

</script>





