{% extends ajax != 'true'
    ? 'SesileMainBundle:Default:index.html.twig'
    : 'SesileMainBundle:Default:indexFrame.html.twig'
 %}

{% block content %}

    {% if ajax != 'true' %}
        <div class="bloc_page">
            <div class="titre_page row">
                <div class="col-lg-10">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Visualiseur de fichier PES
                </div>
                <div class="col-lg-2 text-right">
                    {% include "SesileClasseurBundle:Classeur:statut_classeur.html.twig" with { 'classeur_id':classeur.id, 'status_init':classeur.status} %}
                </div>
            </div>

    {% endif %}

    {% if isPJ is defined %}
        {% if ajax != 'true' %}
            <div class="col-lg-12">
                <label>Ce fichier est un PES PJ ou un autre fichier non soumis à signature</label>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp; Retour à la page précédente</a>
            </div>
        {% endif %}

    {% else %}

        <div class="col-lg-12">

            <div class="form-group">
                <label for="bordx" class="col-lg-2 ">Bordereau</label>

                <div class="col-lg-4">
                    <select id="bordx" class="col-lg-4 bordx-{{ idDoc }}">
                        <option value="empty" selected></option>
                        {% for b in bords %}
                            <option value="{{ loop.index-1 }}"
                                {% if loop.index == 1 %}selected{% endif %}>{{ b }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% if ajax != 'true' %}

                    <div class="col-lg-3">
                        {% if signable %}
                            {# Signer le classeur avec multi roles #}
                            {% if user.UserRole | length > 1 %}
                                <div class="btn-group btn-group-valider-signer">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Valider et Signer avec le rôle <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for role in user.UserRole %}
                                            <li><a href="{{ path('jnlpSignerFiles',{'id':classeursId,'role':role.id}) }}" class="btn-valider-signer">{{ role.userRoles }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {# Signer le classeur sans multi roles #}
                            {% else %}
                                <a type="submit" class="btn btn-success btn-valider-signer" href="{{ path('jnlpSignerFiles',{'id':classeursId}) }}">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    &nbsp;Valider et Signer
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="col-lg-3">
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            &nbsp;&nbsp; Retour à la page précédente
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <br><br>

        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-lg-2">Budget</label>

                <div class="col-lg-8">
                    {{ budget }}
                </div>
            </div>
        </div>
        <br><br>
        {% if signataire is not empty %}
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2">Signature</label>

                    <div class="col-lg-8 text-danger">
                        signé par {{ signataire }} le {{ dateSign|date("d/m/Y H:i") }}
                    </div>
                </div>
            </div>
            <br><br>
        {% else %}
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2">Signature</label>

                    <div class="col-lg-8">
                        Le flux n'est pas encore signé
                    </div>
                </div>
            </div>
            <br><br>
        {% endif %}
        <div id="bordcontent" class="col-lg-12 bordcontent-{{ idDoc }}">

        </div>
    </div>

    <script>
        $(document).ready(function () {
            var idDoc = '{{ idDoc }}';
            $.ajax({
                url: Routing.generate('visubord', {'id': idDoc, 'bord': 0}),
                method: "GET",
                success: function (retourbak) {
                    $('.bordcontent-{{ idDoc }}').empty();
                    $('.bordcontent-{{ idDoc }}').append(retourbak);
                }
            });

            $('.bordx-{{ idDoc }}').change(function () {
                if ($('.bordx-{{ idDoc }}').val() != 'empty') {
                    $.ajax({
                        url: Routing.generate('visubord', {'id': idDoc, 'bord': $('.bordx-{{ idDoc }}').val()}),
                        method: "GET",
                        success: function (retourbak) {
                            $('.bordcontent-{{ idDoc }}').empty();
                            $('.bordcontent-{{ idDoc }}').append(retourbak);
                        }
                    });
                }

            });

        });

    </script>
    {% endif %}

{% endblock %}