{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">

        <div class="titre_page">
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Visualiseur de fichier PES
        </div>
        {% if isPJ is defined %}
        <div class="col-lg-12">
            <label>Ce fichier est un PES PJ ou un autre fichier non soumis à signature</label>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary pull-right"><span
                        class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp; Retour à la page
                précédente</a>
        </div>

    </div>
    {% else %}
        <div class="col-lg-12">

            <div class="form-group">
                <label for="bordx" class="col-lg-2 ">Bordereau</label>

                <div class="col-lg-4">
                    <select id="bordx" class="col-lg-4">
                        <option value="empty" selected></option>
                        {% for b in bords %}
                            <option value="{{ loop.index-1 }}"
                                    {% if loop.index == 1 %}selected{% endif %}>{{ b }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary pull-right"><span
                                class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp; Retour à la page
                        précédente</a>
                </div>
            </div>
        </div>
        <br><br>

        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-lg-2">Budget</label>

                <div class="col-lg-8">
                    {{ budget }}
                </div>
            </div>
        </div>
        <br><br>
        {% if signataire is not empty %}
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2">Signature</label>

                    <div class="col-lg-8 text-danger">
                        signé par {{ signataire }} le {{ dateSign|date("d/m/Y H:i") }}
                    </div>
                </div>
            </div>
            <br><br>
        {% else %}
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2">Signature</label>

                    <div class="col-lg-8">
                        Le flux n'est pas encore signé
                    </div>
                </div>
            </div>
            <br><br>
        {% endif %}
        <div id="bordcontent" class="col-lg-12">

        </div>
    </div>
    <script>
        $(document).ready(function () {
            var idDoc = '{{ idDoc }}';
            $.ajax({
                url: Routing.generate('visubord', {'id': idDoc, 'bord': 0}),
                method: "GET",
                success: function (retourbak) {
                    $('#bordcontent').empty();
                    $('#bordcontent').append(retourbak);
                }
            });

            $('#bordx').change(function () {
                if ($('#bordx').val() != 'empty') {
                    $.ajax({
                        url: Routing.generate('visubord', {'id': idDoc, 'bord': $('#bordx').val()}),
                        method: "GET",
                        success: function (retourbak) {
                            $('#bordcontent').empty();
                            $('#bordcontent').append(retourbak);
                        }
                    });
                }

            });

        });

    </script>
    {% endif %}

{% endblock %}