{% if classeur.isValidable(app.user.id) %}
    {% if signable %}
        <form class="form_action" id="signform" action="{{ path('signform',{'id':classeur.id}) }}">
            <button type="submit" class="btn btn-success">Valider et Signer</button>
            <input type="hidden" value="{{ classeur.id }}" name="id"/>

        </form>
    {% else %}
        <form class="form_action" action="{{ path("classeur_valider") }}" method="post">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Valider</button>
            <input type="hidden" value="{{ classeur.id }}" name="id"/>
        </form>
    {% endif %}

    <form class="form_action" action="{{ path("classeur_refuser") }}" method="post">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Refuser</button>
        <input type="hidden" value="{{ classeur.id }}" name="id"/>
    </form>
{% endif %}

{% if retractable %}
    <form class="form_action" action="{{ path("classeur_retracter") }}" method="post">
        <button type="submit" class="btn btn-warning">Se r&eacute;tracter</button>
        <input type="hidden" value="{{ classeur.id }}" name="id"/>
    </form>
{% endif %}

{% if classeur.isSupprimable(app.user.id) %}
    <form id='suprclasseur' class="form_action pull-right" action="{{ path("classeur_supprimer") }}" method="post">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Retirer</button>
        <input type="hidden" value="{{ classeur.id }}" name="id"/>
    </form>
{% endif %}