{% if classeur.isValidableByDelegates(usersdelegated) %}

    {% if signable %}
        <button type="submit" class="btn btn-success btn-valider-signer"
                data-action="{{ path('signform',{'id':classeur.id}) }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider et Signer
        </button>
    {% else %}
        <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_valider") }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider le classeur
        </button>


    {% endif %}







{% endif %}





{% if classeur.isSupprimableByDelegates(usersdelegated) %}
    <!--  <form id='suprclasseur' class="form_action pull-right" action="{{ path("classeur_supprimer") }}" method="post">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;Retirer
        </button>
        <input type="hidden" value="{{ classeur.id }}" name="id"/>
    </form>

  <button class="btn btn-success pull-right btn-modifs" id="enregister" data-action="{{ path("classeur_valider") }}">
        <span class="glyphicon glyphicon-saved"></span>
        &nbsp;Enregistrer les modifications
    </button>

    <button class="btn btn-success pull-right btn-modifs" id="enregister" data-action="{{ path("classeur_valider") }}">
        <span class="glyphicon glyphicon-saved"></span>
        &nbsp;Soumettre
    </button>
    -->

{% endif %}




<style>
/*    #enregister {
        opacity: .5;
        pointer-events: none;
    }

    /* #refus{

          opacity: .5;
          pointer-events: none;
      }*/

</style>