
{% if classeur.isValidableByDelegates(usersdelegated, validant) %}

    {#{% if signable %}#}
    {% if classeur.getType.id == 2 %}
        {# Signer le classeur avec multi roles #}
        {% if uservalidant.UserRole | length > 1 %}
            <div class="btn-group btn-group-valider-signer">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lancement du processus de signature avec le rôle <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for role in uservalidant.UserRole %}
                        {#<li><a href="#" class="btn-valider-signer" data-action="{{ path('signdocjws',{'id':classeur.id, 'role':role.id,}) }}">{{ role.userRoles }}</a></li>#}
                        <li><a data-action="{{ path('jnlpSignerFiles',{'id':classeursId,'role':role.id}) }}" class="btn-valider-signer">{{ role.userRoles }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {# Signer le classeur sans multi roles #}
        {% else %}
            {#<button type="submit" class="btn btn-success btn-valider-signer" data-action="{{ path('signdocjws',{'id':classeur.id}) }}">#}
            <button type="submit" class="btn btn-success btn-valider-signer" data-action="{{ path('jnlpSignerFiles',{'id':classeursId}) }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider et Signer
            </button>
        {% endif %}

        <button type="submit" class="btn btn-success btn-valider-non-signer" data-action="{{ path("classeur_valider") }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider
        </button>

    {% else %}
        <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_valider") }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider le classeur
        </button>

        {# Si le document est signable #}
        {% if signablePDF %}
            {# Signer le classeur avec multi roles #}
            {% if uservalidant.UserRole | length > 1 %}
                <div class="btn-group btn-group-valider-signer">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;Valider et Signer le document <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for role in uservalidant.UserRole %}
                            <li><a href="#" class="btn-valider-signer" data-action="{{ path('signdocjws',{'id':classeur.id, 'role':role.id,}) }}">{{ role.userRoles }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {# Signer le classeur sans multi roles #}
            {% else %}
                <button type="submit" class="btn btn-success btn-valider-signer-pdf" data-action="{{ path('signdocjws',{'id':classeur.id}) }}">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;Valider et Signer le document
                </button>
            {% endif %}
        {% endif %}




    {% endif %}

    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-remove"></span>
        &nbsp;Refuser
    </button>


{% endif %}

{#{% if retractable %}#}
    {#<form class="form_action" action="{{ path("classeur_retracter") }}" method="post">#}
        {#<button type="submit" class="btn btn-warning" id="retracte">#}
            {#<span class="glyphicon glyphicon-thumbs-down"></span>#}
            {#&nbsp;Se r&eacute;tracter#}
        {#</button>#}
        {#<input type="hidden" value="{{ classeur.id }}" name="id"/>#}
    {#</form>#}
{#{% endif %}#}

