{% if classeur.isValidableByDelegates(usersdelegated, validant) %}
    {#{% if classeur.getType.id == 2 %}#}
    {% if signable %}
        {% if classeur.status == 4 and classeur.ordreValidant is empty  %}
            <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_soumis") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Soumettre
            </button>

        {% else %}

            {# Signer le classeur avec multi roles #}
            {% if uservalidant.UserRole | length > 1 %}
                <div class="btn-group btn-group-valider-signer">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Valider et Signer avec le rôle <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for role in uservalidant.UserRole %}
                            <li><a href="#" class="btn-valider-signer" data-action="{{ path('signdocjws',{'id':classeur.id, 'role':role.id,}) }}">{{ role.userRoles }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {# Signer le classeur sans multi roles #}
            {% else %}
                <button type="submit" class="btn btn-success btn-valider-signer" data-action="{{ path('signdocjws',{'id':classeur.id}) }}">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;Valider et Signer
                </button>
            {% endif %}


            <button type="submit" class="btn btn-success btn-valider-non-signer" data-action="{{ path("classeur_valider") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider
            </button>

            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal" data-whatever="@mdo" {#class=".bs-example-modal-lg"#}>
                <span class="glyphicon glyphicon-remove"></span>
                &nbsp;Refuser
            </button>
                {% endif %}


    {% else %}

        {# Pour l amelioration du validant qui doit se retracter...#}
        {% if classeur.status == 0 or classeur.status == 4 and classeur.ordreValidant is empty %}

            <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_soumis") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Soumettre
            </button>

        {% elseif classeur.status != 2 %}

            <button type="submit" class="btn btn-success btn-valider btn-valider-non-signer" data-action="{{ path("classeur_valider") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider
            </button>

            <button type="submit" class="btn btn-success btn-valider btn-valider-signer" data-action="{{ path("classeur_valider") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider le classeur
            </button>

            {% if signablePDF %}
            <button type="submit" class="btn btn-success btn-valider-signer-pdf" data-action="{{ path('signdocjws',{'id':classeur.id}) }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider et Signer le document
            </button>
            {% endif %}

            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal" data-whatever="@mdo">
                <span class="glyphicon glyphicon-remove"></span>
                &nbsp;Refuser
            </button>
        {% endif %}


    {% endif %}

{% endif %}