{% if classeur.isValidableByDelegates(usersdelegated) %}

    {% if signable %}
        <button type="submit" class="btn btn-success btn-valider-signer"
                data-action="{{ path('signform',{'id':classeur.id}) }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider et Signer
        </button>

    {% else %}
        <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_valider") }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider le classeur
        </button>




    {% endif %}

    <!--
    <button type="submit" class="btn btn-danger btn-refuser" id="refus" data-action="{{ path("classeur_refuser") }}">
        <span class="glyphicon glyphicon-remove"></span>
        &nbsp;Refuser
    </button>

-->
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal"
            data-whatever="@mdo">
        <span class="glyphicon glyphicon-remove"></span>
        &nbsp;Refuser

    </button>


{% endif %}

{% if retractable %}
    <form class="form_action" action="{{ path("classeur_retracter") }}" method="post">
        <button type="submit" class="btn btn-warning" id="retracte">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            &nbsp;Se r&eacute;tracter
        </button>
        <input type="hidden" value="{{ classeur.id }}" name="id"/>
    </form>
{% endif %}


<!--<style>

    #enregister {
        opacity: .5;
        pointer-events: none;

    }

    /* #refus{

          opacity: .5;
          pointer-events: none;
      }*/

</style>-->