{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    {% if classeur.isValidableByDelegates(usersdelegated, validant) %}
    <script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">

    <div class="bloc_page">
            <div class="titre_page row">
                <div class="col-lg-10">
                    {% if classeur.isModifiableByDelegates(usersdelegated, validant) %}
                        <span class="glyphicon glyphicon-pencil"></span>
                        &nbsp;&nbsp;&nbsp;Édition du classeur
                    {% else %}
                        <span class="glyphicon glyphicon-eye"></span>
                        &nbsp;&nbsp;&nbsp;Visualisation du classeur
                    {% endif %}
                </div>

                <div class="col-lg-2 text-right">
                    {# Affichage du statut du classeur #}
                    {% if classeur.status == 0 %}
                        <p class="status_classeur statut_refuse"><span class="glyphicon statut_0"> </span> Classeur refusé</p>
                    {% elseif classeur.status == 1 %}
                        <p class="status_classeur statut_cours"><span class="glyphicon statut_1"> </span> Classeur en cours</p>
                    {% elseif classeur.status == 2 %}
                        <p class="status_classeur statut_finalise"><span class="glyphicon statut_2"> </span> Classeur finalisé</p>
                    {% elseif classeur.status == 3 %}
                        <p class="status_classeur statut_retire"><span class="glyphicon statut_3"> </span> Classeur retiré</p>
                    {% elseif classeur.status == 4 %}
                        <p class="status_classeur statut_retracte"><span class="glyphicon statut_4"> </span> Classeur rétracté</p>
                    {% endif %}
                    {# FIN Affichage du statut du classeur #}
                </div>
            </div>




        <div class="row">
            <div class="col-lg-8">
                <button id="btn_historique" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    &nbsp;Historique
                </button>
                {% if classeur.isSupprimableByDelegates(usersdelegated) %}
                    {% include "SesileClasseurBundle:Classeur:boutonRefus.html.twig" %}
                {% else %}
                    {% include "SesileClasseurBundle:Classeur:boutons_action.html.twig" %}
                {% endif %}

                <a href="{{ path('classeur') }}" class="btn btn-primary navbar-btn">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Retour à la liste des classeurs
                </a>

            </div>
        </div>

        {% if isDelegatedToMe %}
        <br>
        <div class="legende">
            <span class="txt_legende"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Délégation</span>

            <span class="glyphicon statut_0"></span>
            <span class="texte_legende tl3">&nbsp;Ce classeur vous a été délégué par
                </span>&nbsp;&nbsp;
                {% if uservalidant.path is defined and uservalidant.path is not null %}
                    <img class="userpicture" src="{{ asset(upload_path ~ uservalidant.path) }}"/>
                {% else %}
                    <img class="userpicture" src="{{ asset('/images/imghomme.png') }}"/>
                {% endif %}
                {{ uservalidant.getPrenom() }} {{ uservalidant.getNom() }}
        </div>
        {% endif %}
        <br/>

        <form id="form_edit" action="{{ path("classeur_update") }}" method="post">
            <input type="hidden" name="id" value="{{ classeur.id }}"/>

            <div class="row">
                <div class="col-lg-6">
                    <div class="titre_form_element">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;&nbsp;&nbsp;Visibilit&eacute;
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="titre_form_element">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;&nbsp;&nbsp;Type du classeur
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <select class="fuckingvisibility form-control" id="visibilite" name="visibilite">
                        <option value="2" {% if classeur.visibilite == 2 %} selected="selected" {% endif %}>Privé à partir de moi</option>
                        <option value="0" {% if classeur.visibilite == 0 %} selected="selected" {% endif %}>Privé</option>
                        <option value="1" {% if classeur.visibilite == 1 %} selected="selected" {% endif %}>Public</option>
                        {% if classeur.visibilite == 3 %}
                            <option value="3" selected="selected">Pour le service organisationnel</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-lg-6 disabled">
                    <select class="form-control" disabled>
                        <option>{{ classeur.type.nom }}</option>
                    </select>
                </div>
            </div>


            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Titre
            </div>
        <input class="form-control" name="name" placeholder="Nom" required="required"
               value="{{ classeur.nom }}">
            <br>

            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Description
            </div>
        <textarea class="form-control" rows="3" name="desc">{{ classeur.description }}</textarea>
            <br>

            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Commentaire
            </div>
        <textarea class="form-control" rows="3" name="comment"></textarea>
            <br>

            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Date limite de validation
            </div>
        <input class="datepicker" id="validation" name="validation" type="datetime"
                   value="{{ classeur.validation  | date('d/m/Y') }}"/>


        <!--Ici jusqu' au endif-->


    {% else %}

        <script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">


        <div class="bloc_page">
            <div class="titre_page row">
                <div class="col-lg-10">
                    {% if classeur.isModifiableByDelegates(usersdelegated, validant) %}
                        <span class="glyphicon glyphicon-pencil"></span>
                        &nbsp;&nbsp;&nbsp;Édition du classeur
                    {% else %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;&nbsp;&nbsp;Visualisation du classeur
                    {% endif %}
                </div>
                <div class="col-lg-2 text-right">
                    {# Affichage du statut du classeur #}
                    {% if classeur.status == 0 %}
                        <p class="status_classeur statut_refuse"><span class="glyphicon statut_0"> </span> Classeur refusé</p>
                    {% elseif classeur.status == 1 %}
                        <p class="status_classeur statut_cours"><span class="glyphicon statut_1"> </span> Classeur en cours</p>
                    {% elseif classeur.status == 2 %}
                        <p class="status_classeur statut_finalise"><span class="glyphicon statut_2"> </span> Classeur finalisé</p>
                    {% elseif classeur.status == 3 %}
                        <p class="status_classeur statut_retire"><span class="glyphicon statut_3"> </span> Classeur retiré</p>
                    {% elseif classeur.status == 4 %}
                        <p class="status_classeur statut_retracte"><span class="glyphicon statut_4"> </span> Classeur rétracté</p>
                    {% endif %}
                    {# FIN Affichage du statut du classeur #}
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10">
                    <button id="btn_historique" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        &nbsp;Historique
                    </button>
                    {% if classeur.isSupprimableByDelegates(usersdelegated) %}
                        {% include "SesileClasseurBundle:Classeur:boutonRefus.html.twig" %}
                    {% else %}
                        {% include "SesileClasseurBundle:Classeur:boutons_action.html.twig" %}
                    {% endif %}

                    {% if retractable %}
                        {% include "SesileClasseurBundle:Classeur:boutons_retractable.html.twig" %}
                    {% endif %}

                    <a href="{{ path('classeur') }}" class="btn btn-primary navbar-btn">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        Retour à la liste des classeurs
                    </a>
                </div>
                <div class="col-lg-2">
                    {% if classeur.status != 3 and classeur.status != 2 %}
                        <form id='suprclasseur' class="form_action pull-right" action="{{ path("classeur_supprimer") }}" method="post">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                                &nbsp;Retirer
                            </button>
                            <input type="hidden" value="{{ classeur.id }}" name="id"/>
                        </form>
                    {% endif %}
                </div>
            </div>


        {% if isDelegatedToMe %}
            <br>
            <div class="legende">
                <span class="txt_legende"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Délégation</span>

                <span class="glyphicon statut_0"></span>
                <span class="texte_legende tl3">&nbsp;Ce classeur vous a été délégué par </span>&nbsp;&nbsp;
                {% if uservalidant.path is defined and uservalidant.path is not null %}
                    <img class="userpicture" src="{{ asset(upload_path ~ uservalidant.path) }}"/>
                {% else %}
                    <img class="userpicture" src="{{ asset('/images/imghomme.png') }}"/>
                {% endif %}
                {{ uservalidant.getPrenom() }} {{ uservalidant.getNom() }}
            </div>
        {% endif %}
        <br/>

        <form id="form_edit" action="{{ path("classeur_update") }}" method="post">
            <input type="hidden" name="id" value="{{ classeur.id }}"/>

            <div class="row">
                <div class="col-lg-6">
                    <div class="titre_form_element">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;&nbsp;&nbsp;Visibilit&eacute;
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="titre_form_element">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;&nbsp;&nbsp;Type du classeur
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <select class="fuckingvisibility form-control" id="visibilite" name="visibilite" disabled>
                        <option value="2" {% if classeur.visibilite == 2 %} selected="selected" {% endif %}>Privé à partir de moi</option>
                        <option value="0" {% if classeur.visibilite == 0 %} selected="selected" {% endif %}>Privé</option>
                        <option value="1" {% if classeur.visibilite == 1 %} selected="selected" {% endif %}>Public</option>
                        {% if classeur.visibilite == 3 %}
                            <option value="3" selected="selected">Pour le service organisationnel</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-lg-6 disabled">
                    <select class="form-control" disabled>
                        <option>{{ classeur.type.nom }}</option>
                    </select>
                </div>
            </div>

        <div class="titre_form_element" disabled>
            <span class="glyphicon glyphicon-play"></span>
            &nbsp;&nbsp;&nbsp;Titre
        </div>
        <input class="form-control" name="name" placeholder="Nom" required="required" disabled value="{{ classeur.nom }}">
        <br>

        <div class="titre_form_element">
            <span class="glyphicon glyphicon-play"></span>
            &nbsp;&nbsp;&nbsp;Description
        </div>
        <textarea class="form-control" rows="3" name="desc" disabled>{{ classeur.description }}</textarea>
        <br>



        <div class="titre_form_element">
            <span class="glyphicon glyphicon-play"></span>
            &nbsp;&nbsp;&nbsp;Commentaire
        </div>

        <textarea class="form-control" rows="3" id="commentaire" name="comment" disabled></textarea>
        <input type="hidden" name="commentaire" value="{{ classeur.id }}"/>


        <div class="titre_form_element">
            <span class="glyphicon glyphicon-play"></span>
            &nbsp;&nbsp;&nbsp;Date limite de validation
        </div>
        <input class="datepicker" name="validation" type="datetime" disabled value="{{ classeur.validation  | date('d/m/Y') }}"/>


        <style>

            #circuit {
                opacity: .5;
                pointer-events: none;
            }

            #circuitvalidation {
                opacity: .5;
                pointer-events: none;
            }

             /*.top_selects_circuits {
                 display: none !important;
             }*/

        </style>


    {% endif %}


            <script type="text/javascript">
                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
                var dadapicker = $('#validation').datepicker({
                    onRender: function (date) {
                        return date.valueOf() < now.valueOf() ? 'disabled' : '';
                    }
                }).on('changeDate',function (ev) {
                    dadapicker.hide();
                }).data('datepicker');
            </script>



    <br>

            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Documents
            </div>


    <div id="infofile" class="alert alert-success" style="display: none"></div>
            <div id="documentcontent"></div>

            <br>

            <div class="titre_form_element">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;&nbsp;Circuit
            </div>
            <!-- Intégration de la liste des utilisateurs -->

            <link rel="stylesheet" href="{{ asset('/css/circuit.css') }}"/>


            <div id="circuitcontent">

                {% if currentValidant %}
                    <input type="hidden" name="curentValidant" value="{{ currentValidant.id }}">
                {% endif %}
                <script type="application/javascript">


                    {% if classeur.circuit and currentValidant and classeur.status != 0 %}
                        var circuit_users = "{{ classeur.circuit }}" + "," + {{ currentValidant.id }};
                    {% elseif currentValidant and classeur.status != 0 %}
                        var circuit_users = {{ currentValidant.id }} + "," ;
                    {% elseif classeur.circuit and classeur.status != 0 %}
                        var circuit_users = "{{ classeur.circuit }}";
                    {% else %}
                        var circuit_users = "";
                    {% endif %}
                    var ordre_circuit = {{ classeur.ordreetape }};
                    var validant = {{ currentValidant|json_encode|raw }};
                    var status = {{ classeur.status }};
                    /*voir cette ligne*/
                    var deposant = {{ deposant|json_encode|raw }};
                    var path = "{{ asset(upload_path) }}";
                </script>


                <!-- Nouvelle vue ajouté "validation.html.twig" -->

                {#{% render url("new_validate_edit_classeur") %}#}
                {{ render(controller('SesileCircuitBundle:Circuit:validationeditclasseur', { 'id': classeur.id, 'validant': currentValidant })) }}

            </div>
        </form>
            <div class="row">
                <div class="col-lg-10">
                    <button id="btn_historique" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        &nbsp;Historique
                    </button>

                    {% if classeur.isSupprimableByDelegates(usersdelegated) %}
                        {% include "SesileClasseurBundle:Classeur:boutonRefus.html.twig" %}
                    {% else %}
                        {% include "SesileClasseurBundle:Classeur:boutons_action.html.twig" %}
                    {% endif %}
                    {% if retractable %}
                        {% include "SesileClasseurBundle:Classeur:boutons_retractable.html.twig" %}
                    {% endif %}

                    <a href="{{ path('classeur') }}" class="btn btn-primary navbar-btn">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        Retour à la liste des classeurs
                    </a>

                </div>
                <div class="col-lg-2">
                    {% if classeur.status != 3 and classeur.status != 2 %}
                        <form id='suprclasseur' class="form_action pull-right" action="{{ path("classeur_supprimer") }}" method="post">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                                &nbsp;Retirer
                            </button>
                            <input type="hidden" value="{{ classeur.id }}" name="id"/>
                        </form>
                    {% endif %}
                </div>
            </div>
    <br>
    <br>


    <br/>
    <br/>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Historique du classeur</h4>
                    </div>
                    <div class="modal-body">
                        {% include "SesileClasseurBundle:Actions:Historique.html.twig" with {'actions': classeur.actions} %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


    <!-- modal pour l'observation  -->
    <div class="modal fade" class="validation" id="fenetreModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Motif de refus</h4>
                </div>
                <div class="modal-body">


                    <form role="form" method="post" action="{{ path("classeur_refuser") }}">
                        <label for="message-text" class="control-label"></label>

                        <div class="form-group">
                            <label for="message-text" class="control-label"></label>
                            <textarea name="text-message" class="form-control"> </textarea>
                            <input type="hidden" name="id2" value="{{ classeur.id }}"/>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary" href="{{ path('classeur_create') }}" id="refus">Confirmer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <style>
        .modal-dialog {
            width: 90%;
            height: 50px;
        }
    </style>


    <script type="application/javascript">

        function loadDocuments() {
                $('#documentcontent').load(Routing.generate('edit_document_for_classeur', {id: {{ classeur.id }}}), function () {
                    //enableUploads();
                });
            }

            function addDocToCurrentClasseur(data) {
                $('#documentcontent').html('<img id="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>');
                data['id'] = {{ classeur.id }};
                $.ajax(Routing.generate('add_document_to_classeur'), {
                            method: 'POST',
                            data: data,
                            success: function (html) {
                                loadDocuments();
                            }
                        });
            }

            $(document).ready(function () {
                $(".selects_circuit:nth-child(2)").hide();
                loadDocuments();

//                $(".top_selects_circuits, .suppr_perso").hide();
                $(".perso_circuit").css("cursor", "Default");


                {% if classeur.isModifiableByDelegates(usersdelegated, validant) %}
                $("#name, #desc, #validation").removeAttr("disabled");
                $("#enregistrer_modif").show();
//                $(".top_selects_circuits, .suppr_perso").show();
                $("#circuit").sortable("enable");
                $(".perso_circuit").css("cursor", "-moz-grab");
                {% endif %}

                $(".btn-modifs, .btn-valider, .btn-refuser, .btn-valider-signer, .btn-valider-non-signer").click(function () {
                    if($(this).hasClass("btn-modifs") || $(this).hasClass("btn-valider-signer") || $(this).hasClass("btn-valider-non-signer") || $(this).hasClass("btn-valider")) {
                        // ?? est ce nécessaire
                    }

                    $("#form_edit").attr("action", $(this).attr("data-action")).submit();
                });
            });

            $("#suprclasseur").submit(function (e) {
                if (confirm('Confirmez-vous le retrait du classeur ?')) {

                } else {
                    e.preventDefault();
                    return false;
                }
            });
        </script>
    </div>
    {#<object id="winFirefoxPlugin" type="application/x-sharepoint" style="position: absolute; top: 2000000 px; left: 2000000 px;"></object>#}
    <object id="winFirefoxPlugin" type="application/x-sharepoint"></object>
{% endblock %}