{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">


    <div class="bloc_page">
        <button id="btn_historique" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            &nbsp;&nbsp;Historique
        </button>
        {% include "SesileClasseurBundle:Classeur:boutons_action.html.twig" %}
        <br>
        <form action="{{ path("classeur_update") }}" method="post">
            <input type="hidden" name="id" value="{{ classeur.id }}"/>

            <div class="titre_form_element">Titre</div>
            <input class="form-control" id="name" name="name" disabled placeholder="Nom" value="{{ classeur.nom }}">
            <br>

            <div class="titre_form_element">Description</div>
            <textarea class="form-control" rows="3" name="desc" disabled id="desc">{{ classeur.description }}</textarea>
            <br>

            <div class="titre_form_element">Date limite de validation</div>
            <input class="datepicker" id="validation" name="validation" type="datetime" disabled
                   value="{{ classeur.validation  | date('d/m/Y') }}"/>
            <br>

            <div class="titre_form_element">Documents</div>
            <div id="documentcontent"></div>
            <br>

            <div class="titre_form_element">Circuit</div>
            <div id="circuitcontent">
                <script type="application/javascript">
                    var circuit_users = "{{ classeur.circuit }}";
                    var validant = {{ validant }};
                    var deposant = {{ deposant|json_encode|raw }};
                </script>
                {% render url("new_circuit") %}
            </div>
            <button class="btn btn-success" type="submit">Enregistrer</button>
        </form>
        {% include "SesileClasseurBundle:Classeur:boutons_action.html.twig" %}
        <br>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Historique du classeur</h4>
                    </div>
                    <div class="modal-body">
                        {% include "SesileClasseurBundle:Actions:Historique.html.twig" with {'actions': classeur.actions} %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <script type="application/javascript">
            $(document).ready(function () {
                $('#documentcontent').load(Routing.generate('edit_document_for_classeur', {id: {{ classeur.id }}}), function () {
                    enableUploads();
                });

                $(".top_selects_circuits, .suppr_perso").hide();
                //$("#circuit").sortable("disable");
                $(".perso_circuit").css("cursor", "Default");


                {% if classeur.isModifiable(app.user.id) %}
                $("#name, #desc, #validation").removeAttr("disabled");
                $("#enregistrer_modif").show();
                $(".top_selects_circuits, .suppr_perso").show();
                $("#circuit").sortable("enable");
                $(".perso_circuit").css("cursor", "-moz-grab");
                {% endif %}
            });

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
            var valid = $('#validation').datepicker({
                onRender: function (date) {
                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function (ev) {
                        ev.hide();
                    });

            $("#suprclasseur").submit(function (e) {




                if (confirm('Confirmez-vous le retrait du classeur ?')) {

                } else {
                    e.preventDefault();
                    return false;

                }



            });
        </script>
    </div>
{% endblock %}
