<table class="table tableau dtables">
    <thead>
    <tr>
        <th>Titre du classeur</th>
        <th>Date de création</th>
        <th>Date limite de validation</th>
        <th>Intervenant</th>
        <th>Type de classeur</th>
        <th>Statut actuel</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for classeur in classeurs %}
        <tr class="classeur-row">
            <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable">{{ classeur.nom }}</a></td>
            <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable">{{ classeur.creation |date("d/m/Y H:m") }}</a></td>
            <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable">{{ classeur.validation |date("d/m/Y") }}</a></td>
            <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable">{% for validant in classeur.validants %} {{ validant.prenom }} {{ validant.nom }} {% if loop.index != classeur.validants|length %}/{% endif %} {% endfor %} </a></td>
            <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable">{{ classeur.type.nom }}</a></td>
            <td>
                <a href="{{ path('classeur_edit', {id: classeur.id}) }}" class="link-datatable"><span class="glyphicon statut_{{ classeur.status }}"></span></a>
            </td>
            <td>
                <a class="col-sm-6" href="{{ path('classeur_edit', {id: classeur.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
<link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>