{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;Liste des classeurs retirés
        </div>
        <table class="table tableau" id="dtables">
            <thead>
            <tr>
                <th>Titre du classeur</th>
                <th>Date de création</th>
                <th>Date limite de validation</th>
                <th>Type de classeur</th>
                <th>Statut actuel</th>
                <th>Action</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody id="tbud">
            {% for classeur in classeurs %}
                <tr>
                    <td>{{ classeur.nom }}</td>
                    <td>{{ classeur.creation|date('d/m/Y') }}</td>
                    <td>{{ classeur.validation|date('d/m/Y') }}</td>
                    <td>{{ classeur.type.nom }}</td>
                    <td></td>
                    <td><a href="{{ path('classeur_edit', {id: classeur.id}) }}"><span
                                    class="glyphicon glyphicon-pencil"></span></a></td>
                    <td data-id="{{ classeur.id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a>
            <button type="button" class="btn btn-default navbar-btn" id="deleter">
                Supprimer les classeurs sélectionnés
            </button>
        </a>
        {% include 'SesileClasseurBundle:Classeur:legende.html.twig' %}
    </div>
    <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
    <script type="application/javascript" src="//cdn.datatables.net/plug-ins/1.10.9/api/page.jumpToData().js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="application/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/sorting/datetime-moment.js"></script>
    <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
    <script type="text/javascript">
        $.fn.dataTable.moment( 'DD/MM/YYYY' );
        $("#dtables").dataTable({
            oLanguage: {
                sSearch: "Rechercher&nbsp;:",
                sInfo: "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                sInfoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                sInfoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                oPaginate: {sFirst: "", sPrevious: "", sNext: "", sLast: ""},
                sZeroRecords: "Aucun classeur &agrave; afficher",
                sEmptyTable: "Aucun classeur &agrave; afficher",
                sLengthMenu: "Afficher _MENU_ classeurs par page"
            },
            iDisplayLength: 15,
            aLengthMenu: [15, 30, 50, 100],
            sDom: 'lft<"footer_datatables"p>',
            order: [[1, "desc"]],
            aoColumnDefs: [
                {
                    aTargets: [1],
                    sClass: "center"
                },
                {
                    aTargets: [2, 3],
                    sClass: "center"
                },
                {
                    "aTargets": [4],
                    sClass: "center",
                    "mRender": function (data, type, full) {
                        return '<span class="glyphicon statut_3"></span>';
                    }
                },
                {
                    aTargets: [5],
                    sClass: "center",
                    bSortable: false
                },
                {
                    "aTargets": [6],
                    sClass: "center",
                    "mRender": function (data, type, full) {
                        return '<input type="checkbox" class="chk">';
                    }
                }
            ],
            sPaginationType: "full_numbers",
            fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).addClass("classeur-row");
                return nRow;
            }

        });
    </script>
    <script>

        $(document).ready(function () {
            $('#deleter').click(function () {
                var tabId = [];
                $('.chk').each(function () {
                    if ($(this).is(':checked')) {
                        // alert($(this).parent().parent().find('.act').attr('data-id'))
                        tabId.push($(this).parent().attr('data-id'));
                    }
                });
                $.ajax({
                    url: "{{ path('multiple_delete_classeur') }}",
                    method: 'POST',
                    data: {data: JSON.stringify(tabId)},
                    success: function (retour) {
                        window.location.href = "{{ path('liste_classeurs_retired') }}"
                    }
                });
            });
        });

    </script>
{% endblock %}