{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <h1>Classeur</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Creation</th>
                <td>{{ entity.creation|date('Y-m-d H:i:s') }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('classeur') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classeur_edit', { 'id': entity.id }) }}">
           Modification
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
