{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">

<div class="titre_page">
    <span class="glyphicon glyphicon-edit"></span>
    &nbsp;&nbsp;&nbsp;Signer le classeur
</div>

<h3>{{ classeur.nom }}</h3>

<div class='pull-right' id="help">
    <br/>
    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Si le bouton Signer et Valider le classeur ne s’affiche pas… cliquez ici</button>
</div>
<div class='pull-right' id="bouttons" style="display:none">
    <br/>
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <button type="button" onclick="javascript:signature(); return false;" class="btn btn-success">Signer et valider le
        classeur
    </button>
</div>


<form id="lacommode" action="{{ path("classeur_valider") }}" method="post">


    <input type="hidden" name="id" value="{{ classeur.id }}">
    <input type="hidden" name="moncul" value="1">

    <strong>Role : </strong>{{ user.role }}<br/>
    <strong>Ville : </strong>{{ user.ville }}<br/>
    <strong>Code postal : </strong>{{ user.cp }}<br/>
    <strong>D&eacute;partement : </strong>{{ user.departement }}<br/>
    <strong>Pays : </strong>{{ user.pays }}<br/>


    <div id='listemethod' name='listemethod'></div>

    <div id='listecertif' name='listecertif'></div>

    <br>

    <div id='avancement' name='avancement'> Système de signature en cours de chargement..<br/>Ceci peut prendre
        plusieurs minutes. Merci d'accepter toutes les demandes qui vous seront formulées par des boites de dialogues.
    </div>
    <br>


    <div class='progress progress-striped active'>
        <div class='progress-bar' id='progressbar' role='progressbar' aria-valuenow='100' aria-valuemin='0'
             aria-valuemax='100' style='width: 100%'>
            <span class='sr-only'>45% Complete</span>
        </div>
    </div>


</form>

<div class="modal fade col-lg-12" id="IEModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg col-lg-12" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aide</h4>
            </div>
            <div class="modal-body">
                Le problème est probablement dû à un blocage des composants JAVA du navigateur, voici comment le résoudre:<br><br>
                <img src="{{ asset("/images/iesc.jpg") }}" width="100%"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aide</h4>
            </div>
            <div class="modal-body">
                Le problème est probablement dû à un blocage des composants JAVA du navigateur, voici comment le résoudre:<br><br>
                <img src="{{ asset("/images/ffsc.jpg") }}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{{ url_applet }}
<script type="text/javascript" src="http://www.java.com/js/deployJava.js">
</script>

<script type="text/javascript">
    var docstosign = {{ docstosign|json_encode|raw }};
    var attributes = {width: 1, height: 1, id: "javaapplet"};
    var parameters = {jnlp_href: 'http://{{ url_applet }}/launch.jnlp'}; // url : signature DEMO

    var version = '1.7';
    deployJava.runApplet(attributes, parameters, version);


    function appletReady() {

        {#document.javaapplet.setUploadUrl('http://' + window.location.hostname + '/doc/uploadfile') // Prod*/#}
        document.javaapplet.setUploadUrl('http://' + window.location.hostname + '{{ path('upload_doc') }}'); // Prod*/

        var divmethod = document.getElementById('listemethod');

        var divcertif = document.getElementById('listecertif');
        var selectcertif = document.createElement('select');
        selectcertif.setAttribute('name', 'selectcertif');
        selectcertif.setAttribute('id', 'selectcertif');
        var nbcertif = document.javaapplet.getNumberSigningCertificates();
        var i = 0;
        while (i < nbcertif) {
            var nomcertif = document.javaapplet.getSigningCertificateName(i);
            var element = document.createElement('option');
            element.setAttribute('value', i);
            element.text = nomcertif;
            selectcertif.appendChild(element);
            i = i + 1;

        }
        divcertif.appendChild(selectcertif);
        $('#help').hide();
        $('#bouttons').show('slow');
        setStatusText('Pret à signer');


    }


    function msieversion() {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {      // If Internet Explorer, return version number
//                    alert(parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))));
            return true;
        }
        else {                 // If another browser, return 0
//                    alert('otherbrowser');
            return false;
        }


    }

    $('#help').click(function(){
        if(msieversion())
        {
            $('#IEModal').modal('show');
        }
        else{
            $('#myModal').modal('show')
        }

    });

    //function pour faire apparaître le bouton signer
    function test() {
        alert('applet est active');
    }

    //function donnant le nombre de fichier
    function getNumberFiles() {


        document.javaapplet.setNumberFiles({{ docstosign|length }});


    }

    //function donnant le chemin du fichier
    function getFileLinkFromNumber(i) {

        //alert('http://
        console.log()
        document.javaapplet.setFileLinkFromNumber(i, 'http://{{ servername }}/uploads/docs/' + docstosign[i].repourl, docstosign[i].repourl, docstosign[i].id);

    }


    //function permettant de signifier la fin du dépôt d'un fichier
    function fileUploaded(i, nameficsigne, indicembraquee, errormessage) {

        if (errormessage == 'ok') {


        }
        else {

        }
    }


    //function permettant de signifier la fin de la signature d'un classeur
    function signingProcessEnded(i, errormessage) {
        $('#lacommode').submit();

    }
    //Fonction qui va envoyer le rol
    function envoiChaineRole() {
        document.javaapplet.recevoirChaineRole("{{ user.role }}");
    }
    //Fonction qui va envoyer la ville
    function envoiChaineVille() {
        document.javaapplet.recevoirChaineVille("{{ user.ville }}");
    }
    //Fonction qui va envoyer le code postal
    function envoiChaineCP() {
        document.javaapplet.recevoirChaineCP("{{ user.cp }}");
    }
    //Fonction qui va envoyer le département
    function envoiChaineDepartement() {
        document.javaapplet.recevoirChaineDepartement("{{ user.departement }}");
    }
    //Fonction qui va envoyer le pays
    function envoiChainePays() {
        document.javaapplet.recevoirChainePays("{{ user.pays }}");
    }

    //Fonction qui va envoyer le sessionid
    function getsessionid() {
        document.javaapplet.setsessionid("{{ session_id }}");
    }


    function setStatusText(txt) {
        $('#avancement').html(txt);
    }

    function setProgress(permil) {

        $('#progressbar').attr('aria-valuenow', permil / 10 + '%');
        $('#progressbar').attr('style', 'width: ' + permil / 10 + '%');
    }

    function setColor(col) {

        $('#progressbar').removeClass('progress-bar-success progress-bar-info progress-bar-warning progress-bar-danger').addClass('progress-bar-' + col);
    }

    //function permettant de signifier la fin du téléchargement d'un fichier
    function signature() {


        $('#bouttons').hide('slow');
        var certif = document.getElementById('selectcertif');
        //alert('lancement signature '+method.value+'  '+certif.value);

        nbfic =
        {{docstosign|length  }}

        if (nbfic > 0) {
            document.javaapplet.launchSigningWithCertificate(certif.value);
        }
        else {
            $('#lacommode').submit();
        }

    }

</script>


{% endblock %}