{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}

<div class="bloc_page">

    <div class="titre_page">
        <span class="glyphicon glyphicon-edit"></span>
        &nbsp;&nbsp;&nbsp;Signer le classeur
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                {% if ( classeur.nom | length ) > 75 %}
                    {{ classeur.nom[:75] }}...
                {% else %}
                    {{ classeur.nom }}
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
        <form id="lacommode" action="{{ path("classeur_valider") }}" method="post">
            <div class="col-md-8">

                <input type="hidden" name="id" value="{{ classeur.id }}">
                <input type="hidden" name="moncul" value="1">

                {#<div class="col-md-4"><strong>Role : </strong></div>
                <div class="col-md-8">{{ role }}</div>

                <div class="col-md-4"><strong>Ville : </strong></div>
                <div class="col-md-8">{{ user.ville }}</div>

                <div class="col-md-4"><strong>Code postal : </strong></div>
                <div class="col-md-8">{{ user.cp }}</div>

                <div class="col-md-4"><strong>D&eacute;partement : </strong></div>
                <div class="col-md-8">{{ user.departement }}</div>

                <div class="col-md-4"><strong>Pays : </strong></div>
                <div class="col-md-8">{{ user.pays }}</div>#}

                <div class="col-md-4"><strong>Choix du certificat : </strong></div>
                <div class="col-md-8"><div id='listecertif' name='listecertif'></div></div>


            </div>
            <div class="col-md-4">
                <div class='pull-right' id="help">
                    <br/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Si le bouton Signer et Valider le classeur ne s’affiche pas… cliquez ici</button>
                </div>
                <div class='pull-right' id="bouttons" style="display:none">
                    <br/>
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>#}
                    <button type="button" id="signatureDocument" class="btn btn-success">Signer et valider le classeur</button>
                </div>
            </div>

        </form>


        <div class="modal fade col-lg-12" id="IEModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg col-lg-12" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Aide</h4>
                    </div>
                    <div class="modal-body">
                        Le problème est probablement dû à un blocage des composants JAVA du navigateur, voici comment le résoudre:<br><br>
                        <img src="{{ asset("/images/iesc.jpg") }}" width="100%"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Aide</h4>
                        </div>
                        <div class="modal-body">
                            Le problème est probablement dû à un blocage des composants JAVA du navigateur, voici comment le résoudre:<br><br>
                            <img src="{{ asset("/images/ffsc.jpg") }}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="row">&nbsp;</div>

<div class="bloc_page">
    <div class="row">
        <div class="col-md-12"><h3>Etapes de validations</h3></div>
        <div class="col-md-4">

            <ul class="etape_progress">
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 1 :</strong> Chargement de l'applet...
                </li>
                <li>
                    <span class="glyphicon glyphicon-arrow-right"> </span>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 2 :</strong> Chargement des certificats...
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 3 :</strong> Sélection du certificat
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 4 :</strong> Téléchargement du document
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 5 :</strong> Document téléchargé
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 6 :</strong> Document signé
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 7 :</strong> Envoi du fichier...
                </li>
                <li>
                    <img class="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                    <span class="glyphicon glyphicon-ok"> </span> <strong>Etape 8 :</strong> Terminé ! Validation du classeur...
                </li>
            </ul>


        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row"><small>URL Aplet : {{ url_applet }}</small></div>
</div>

<script type="text/javascript" src="http://www.java.com/js/deployJava.js"></script>
<script type="text/javascript">

    // Permet l'affichage a retardement du helper
    $("#help").hide();
    timeoutId = window.setTimeout(showHelp, 20000);
    timeoutIdHide = true;

    function showHelp () {
        if (timeoutIdHide) {
            $("#help").show(400);
        }
    }
    // FIN de l'affichage a retardement du helper

    var docstosign = {{ docstosign|json_encode|raw }};
    var attributes = {width: 1, height: 1, id: "javaapplet"};
//     var parameters = {jnlp_href: 'http://dss.dave.fred/launch.jnlp'};
    var parameters = {jnlp_href: 'http://{{ url_applet }}/pdf/launch.jnlp'}; // url : signature DEMO

    var version = '1.7';
    deployJava.runApplet(attributes, parameters, version);

    // Init pour l affichage du processus
    var nbEtape = 0;
    $('.etape_progress li .glyphicon-arrow-right').css('display', 'none');
    $('.etape_progress li .glyphicon-ok').css('display', 'none');
    $('.etape_progress li .loadinggif').css('display', 'none');

    function appletReady() {

        // Envoie du lien pour l upload
        document.javaapplet.setUploadUrl('http://' + window.location.hostname + '{{ path('upload_pdf_doc') }}');
        // Envoie de la variable de session
        {#document.javaapplet.setsessionid("{{ session_id }}");#}
        // Envoie de la variable document id
//        document.javaapplet.setdocumentid(docstosign[0].id);

        // Envoie de l id
        var divcertif = document.getElementById('listecertif');
        var selectcertif = document.createElement('select');
        divcertif.appendChild(selectcertif);

        //document.javaapplet.getCertificates("http://dss.dave.fred/hello-world.pdf");
        document.javaapplet.getCertificates('http://{{ servername }}/uploads/docs/' + docstosign[0].repourl);

        $('#bouttons').show('slow');

        selectcertif.setAttribute('name', 'selectcertif');
        selectcertif.setAttribute('id', 'selectcertif');
        $('<option selected="selected">Choisir un certificat</option>').appendTo("#selectcertif");

        timeoutIdHide = false;
        $('#help').hide();
        $('#bouttons').show('slow');


    }
    function encode_utf8(s) {
        return unescape(encodeURIComponent(s));
    }

    function decode_utf8(s) {
        return decodeURIComponent(escape(s));
    }

    function setCertificate (value, nom) {

        nom = decode_utf8(nom);
        $('#selectcertif').append($('<option>', {
            value: value,
            text: nom
        }));

    }

    function msieversion() {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        // If Internet Explorer, else return false
        return (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./));

    }

    // Affiche la modal d aide
    $('#help').click(function(){
        if(msieversion())
        {
            $('#IEModal').modal('show');
        }
        else{
            $('#myModal').modal('show')
        }

    });

    //function pour faire apparaître le bouton signer
    function test() {
        alert('applet est active');
    }

    //function donnant le nombre de fichier
    function getNumberFiles() {

        document.javaapplet.setNumberFiles({{ docstosign|length }});

    }

    //function donnant le chemin du fichier
    function getFileLinkFromNumber(i) {

        document.javaapplet.setFileLinkFromNumber(i, 'http://{{ servername }}/uploads/docs/' + docstosign[i].repourl, docstosign[i].repourl, docstosign[i].id);

    }


    //function permettant de signifier la fin du dépôt d'un fichier
    function fileUploaded(i, nameficsigne, indicembraquee, errormessage) {

        if (errormessage == 'ok') {


        }
        else {

        }
    }


    //function permettant de signifier la fin de la signature d'un classeur
    function signingProcessEnded(i, errormessage) {
        $('#lacommode').submit();
    }

    // Affiche le status en cours pour le fichier
    function setStatusText(txt) {
        //$('#avancement').html(txt);
        $('.etape_progress li:nth-child(' + nbEtape + ')').addClass('alert-success');
        $('.etape_progress li:nth-child(' + nbEtape + ') .loadinggif').css('display', 'none');
        $('.etape_progress li:nth-child(' + nbEtape + ') .glyphicon-arrow-right').css('display', 'none');
        $('.etape_progress li:nth-child(' + nbEtape + ') .glyphicon-ok').css('display', 'inline-block');
        nbEtape++;
        $('.etape_progress li:nth-child(' + nbEtape + ') .loadinggif').css('display', 'inline-block');
        $('.etape_progress li:nth-child(' + nbEtape + ') .glyphicon-arrow-right').css('display', 'inline-block');

        console.log("setStatusText : " + txt);

    }


    //function permettant de lancer la signature du fichier
    $("#signatureDocument").on('click', function signature() {

        $('#bouttons').hide('slow');
        document.javaapplet.signDocument($('#selectcertif').val());

    });


</script>


{% endblock %}