{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}

<div class="bloc_page">

    <div class="titre_page">
        <span class="glyphicon glyphicon-edit"></span>
        {% if classeurs | length == 1 %}
            &nbsp;&nbsp;&nbsp;Signer le classeur
        {% else %}
            &nbsp;&nbsp;&nbsp;Signer les classeurs
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12"><h3>Informations utilisateurs</h3></div>
    </div>
    <div class="row">
        <div class="col-md-8">

            {% if role is not null %}
                <div class="row">
                    <div class="col-md-4"><strong>Role : </strong></div>
                    <div class="col-md-8">{{ role.userRoles }}</div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-4"><strong>Ville : </strong></div>
                <div class="col-md-8">{{ user.ville }}</div>
            </div>

            <div class="row">
                <div class="col-md-4"><strong>Code postal : </strong></div>
                <div class="col-md-8">{{ user.cp }}</div>
            </div>

            <div class="row">
                <div class="col-md-4"><strong>D&eacute;partement : </strong></div>
                <div class="col-md-8">{{ user.departement }}</div>
            </div>

            <div class="row">
                <div class="col-md-4"><strong>Pays : </strong></div>
                <div class="col-md-8">{{ user.pays }}</div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="pull-right" id="help">
                <br/>
                {#<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Si JAVA n'est pas installé sur votre poste… cliquez ici</button>#}
                <a href="https://www.java.com/fr/download/" target="_blank" class="btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Si JAVA n'est pas installé sur votre poste… cliquez ici</a>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

{#<div class="bloc_page">#}


    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success btn-signature" href="#">Signer les documents</a>
        </div>
    </div>


    {% for classeur in classeurs %}
        <div class="infos-classeur-{{ classeur.id }}">

            <div class="row">
                <div class="col-md-10">
                    <h3>
                        Classeur : {{ classeur.shortNom }}
                    </h3>
                </div>
                <div class="col-md-2 text-right">
                    {# Affichage du statut du classeur #}
                    <p class="status_classeur statut_cours"><span class="glyphicon statut_1"> </span> Classeur en cours</p>
                    <p class="status_classeur statut_finalise"><span class="glyphicon statut_2"> </span> Classeur finalisé</p>
                    {# FIN Affichage du statut du classeur #}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"><h4>Documents à signer</h4></div>
                <div class="col-md-12">
                    <ul class="etape_progress">
                        {% for doctosign in classeur.documents %}
                            <li class="document-{{ doctosign.id }}">
                                {#<p class="status_classeur label-warning statut_refuse"><span class="glyphicon glyphicon-remove"> </span> document non signé</p>#}
                                {#<span class="glyphicon glyphicon-remove label label-danger" > </span>#}
                                <span class="label label-warning statut_attente"></span>
                                {#<img class="loadinggif statut_refuse" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>#}
                                <p class="status_classeur statut_finalise"><span class="glyphicon statut_2"> </span> document signé</p>
                                {#<span class="glyphicon glyphicon-ok label label-success"> </span>#}
                                <strong>
                                    {% if (doctosign.name | length ) > 100 %}
                                        {{ doctosign.name[:50] }}....xml
                                    {% else %}
                                        {{ doctosign.name }}
                                    {% endif %}
                                </strong>
                                {% if classeur.type.id != 2 %}
                                    {% if doctosign.type == "application/pdf" %}
                                        <a href="{{ asset(upload_path_docs ~ doctosign.repourl) }}" target="_blank"><span class="glyphicon glyphicon-eye-open" title="Voir le document"></span></a>
                                    {% else %}
                                        <a href="{{ asset(upload_path_docs ~ doctosign.repourl) }}" download="{{ doctosign.name }}"><span class="glyphicon glyphicon-eye-open" title="Télécharger le document"></span></a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="documentvisu"></div>
            </div>
            <div class="row">
                <hr class="col-md-10 col-md-push-1">
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success btn-signature" href="#">Signer les documents</a>
        </div>
    </div>

    <div class="row">&nbsp;</div>


</div>

{#<script type="text/javascript" src="https://www.java.com/js/deployJava.js"></script>#}
<script type="text/javascript">

    // Délai de relance de la fonction ajax
    var my_delay = 2 * 1000;

    // Fonction permettan de recup le status d un document
    function callDocumentAjax() {
        {% for classeur in classeurs %}
            {% for doctosign in classeur.documents %}

                $.ajax({
                    url: Routing.generate('status_document', {id: {{ doctosign.id }} }),
                    async: true,
                    method: "GET",
                    success: function (resp) {
                        if (resp) {
                            $(".document-" + {{ doctosign.id }} + " .statut_attente").hide();
                            $(".document-" + {{ doctosign.id }} + " .statut_finalise").show();
                        } else {
                            $(".document-" + {{ doctosign.id }} + " .statut_attente").show();
                            $(".document-" + {{ doctosign.id }} + " .statut_finalise").hide();
                        }
                    }
                });

            {% endfor %}
        {% endfor %}
        // Fonction permettant de relancer la fonction de test du status du document
        setTimeout(callDocumentAjax, my_delay);
    }

    // Fonction permettan de recup le status d un classeur
    function callClasseurSatus() {
        {% for classeur in classeurs %}
            $.ajax({
                url: Routing.generate('status_classeur', {id: {{ classeur.id }}}),
                async: true,
                method: "GET",
                success: function (resp) {

                    if (resp == 2) {
                        $(".infos-classeur-{{ classeur.id }} .status_classeur.statut_cours").hide();
                        $(".infos-classeur-{{ classeur.id }} .status_classeur.statut_finalise").show();
                        {#window.location.assign("{{ url('index_valider') }}");#}
                    } else {
                        $(".infos-classeur-{{ classeur.id }} .status_classeur.statut_cours").show();
                        $(".infos-classeur-{{ classeur.id }} .status_classeur.statut_finalise").hide();
                    }

//                    console.log($(".status_classeur.statut_finalise").filter(":hidden").length);
                    if ($(".status_classeur.statut_finalise").filter(":hidden").length == 0) {
                        window.location.assign("{{ url('index_valider') }}");
                    }

                }
            });
        {% endfor %}


        // Fonction permettant de relancer la fonction de test du status du document
        setTimeout(callClasseurSatus, my_delay);
    }

    $(document).ready(function() {

        // A l initialisation, on cache l icone doc signé et classeur validé
        $(".statut_finalise").hide();
        $(".status_classeur.statut_finalise").hide();


        // On exécute la fonction pour tous les documents
        callDocumentAjax();

        // On ré-exécute la fonction pour le classeur
        callClasseurSatus();


        $(".btn-signature").on('click', function (e) {
            //e.preventDefault();


            {#window.location = "{{ path('jnlpSignerFiles', {id:classeursId,'role':role.id}) }}";#}
            {% if role is null %}
                window.location = "{{ path('jnlpSignerFiles',{'id':classeursId}) }}";
            {% else %}
                window.location = "{{ path('jnlpSignerFiles',{'id':classeursId,'role':role.id}) }}";
            {% endif %}

            // On exécute la fonction pour tous les documents (bug FF)
            callDocumentAjax();

            // On ré-exécute la fonction pour le classeur (bug FF)
            callClasseurSatus();

            // On cache le bouton pour ne pas reclicker dessus
            $(".btn-signature").hide();

        });



    });

    // Permet l'affichage a retardement du helper
    $("#help").hide();
    timeoutId = window.setTimeout(showHelp, 120000);
    timeoutIdHide = true;

    function showHelp () {
        if (timeoutIdHide) {
            $("#help").show(400);
        }
    }
    // FIN de l'affichage a retardement du helper

    function msieversion() {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        // If Internet Explorer, else return false
        return (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./));

    }

    // Affiche la modal d aide
    $('#help').click(function(){
        if(msieversion()) {
            $('#IEModal').modal('show');
        }
        else {
            $('#myModal').modal('show')
        }
    });


    // Fonction permettant l affichage de la previsualisation du fichier PES
    {% for classeur in classeurs %}

        {% for document in classeur.documents %}

            {% if classeur.type.id == 2 and document|length > 0 %}

                $('.infos-classeur-{{ classeur.id }} .documentvisu').load(Routing.generate('visu', {id: {{ classeur.documents[0].id }}, ajax: "true"}), function () {});

            {% endif %}

        {% endfor %}

    {% endfor %}


</script>


{% endblock %}