<h1>Liste des classeurs</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Creation</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="classeur-row" data-id="{{ entity.id }}">
            <td><a href="{{ path('classeur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{% if entity.creation %}{{ entity.creation|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('classeur_new') }}">Créer un classeur</a>
<script type="text/javascript">
    $(".classeur-row").click(function () {
        document.location.href = "" + $(this).data("id");
    });
</script>