<link rel="stylesheet" href="{{ asset('/css/circuit.css') }}"/>
<div class="top_selects_circuits">
    <div class="selects_circuit">
        <div class="titre_select">
            <label class="nametitle" id="users_complete">Utilisateurs</label>
            <input class="nameinput" type="text">
        </div>
        <div id="users_list">
            {% for user in users %}
                <p data-id="{{ user.id }}">{{ user.username }}</p>
            {% endfor %}
        </div>
        <button type="button" id="useradd_btn">&darr;</button>
    </div>
    <div class="selects_circuit">
        <div class="titre_select">
            <label class="nametitle">Circuits</label>
            <input class="nameinput" type="text">
        </div>
        <div id="circuits_list">
            {% for circuit in circuits %}
                <p data-id="{{ circuit.id }}" data-ordre="{{ circuit.ordre }}">{{ circuit.name }}</p>
            {% endfor %}
        </div>
        <button type="button" id="circuitadd_btn">&darr;</button>
    </div>
</div>

<div class="titre_select">
    <input class="form-control" id="name" name="name" placeholder="Titre du circuit">
</div>
<div id="circuit"></div>

<button class="btn  btn-success">
    Enregistrer le nouveau circuit
</button>
<button class="btn  btn-success">
    Enregistrer les modifications
</button>

<script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/circuit.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/autocomplete.js') }}"></script>
<script type="text/javascript">
    var users_list = new Array();
    $("#users_list p").each(function () {
        users_list.push($(this).text());
    })
    $("#users_complete").autocomplete({ lookup: users_list })
</script>