<link rel="stylesheet" href="{{ asset('/css/circuit.css') }}"/>
<div class="top_selects_circuits">

    <div class="selects_circuit">
        <div class="titre_select">
            <label class="nametitle" id="users_complete">
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;&nbsp;Utilisateurs&nbsp;&nbsp;</label>
            <input class="nameinput" type="text">
        </div>

        <div id="users_list">
            {% for user in users %}
                <p data-id="{{ user.id }}" data-img="{{ user.path }}">{{ user.nom }} {{ user.prenom }}</p>
            {% endfor %}
        </div>


        <span id="useradd_btn" class="glyphicon glyphicon-chevron-down"></span>
    </div>

    <div class="selects_circuit">
        <div class="titre_select">


            <label class="nametitle">
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;&nbsp;Circuits&nbsp;&nbsp;</label>
            <input class="nameinput" type="text">
        </div>
        <div id="circuits_list">
            {% for circuit in circuits %}
                <p data-id="{{ circuit["id"] }}" data-ordre="{{ circuit["ordre"] }}">{{ circuit["name"] }}</p>
            {% endfor %}
        </div>
        <span id="circuitadd_btn" class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>
<form action="{{ path("create_circuit") }}" method="post">
    <div id="circuit_editor">
        <div class="titre_select">
            <label class="nametitle nomcircuit">
                <span class="glyphicon glyphicon-retweet"></span>
                &nbsp;&nbsp;Nom du circuit&nbsp;&nbsp;</label>
            <input class=" nameinput" id="circuit_name" name="circuit_name" required="required" placeholder="Titre du circuit">
        </div>
        <div id="circuit">
            <img id="debut_circuit" src="{{ asset("/images/buttonlist.png") }}"/>
        </div>
    </div>
    <button class="btn  btn-success">
        Créer un nouveau circuit
    </button>
    {# //
    TODO "enregistrer les modifications" ne fonctionne pas et crée un nouveau circuit !
     #}
    {#<button type="submit" id="circuit_modifier" class="btn  btn-success">#}
        {#Enregistrer les modifications#}
    {#</button>#}

    {# TODO supprimer ne fonctionne pas ! #}
    <div class="btn-group" id="btn-group-supp">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            Supprimer
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a id="deleteconfirm" href="#">Je confirme !</a>
            </li>

        </ul>
    </div>
</form>

<script type="text/javascript">
    var path = "{{ asset(upload_path) }}";
</script>

<script type="text/javascript">

    var users_list = new Array();
    $("#users_list p").each(function () {
        users_list.push($(this).text());
    });

    $(".nameinput").focus(function () {
        $(".glyphicon-search-blue").removeClass("glyphicon-search-blue");
        $(this).prev("label").addClass("glyphicon-search-blue");
    });

    $("#users_list p, #circuits_list p").click(function () {
        $(this).siblings(".list_selected_element").removeClass("list_selected_element");
        $(this).addClass("list_selected_element");
    });

    $("#deleteconfirm").click(function() {
        window.location.href = Routing.generate('del_circuits_favoris', {id: $('#circuits_list .list_selected_element').attr('data-id')});

    });
</script>

<script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/circuit.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/autocomplete.js') }}"></script>