<div class="row row-padding">
    <div class="col-lg-3 col-lg-offset-3">
        <button type="button" class="btn btn-info btn-block btn-voirInter" id="seeAllUsers">
            <span class="glyphicon glyphicon-plus-sign"></span> Déplier toutes les étapes</button>
    </div>
    <div class="col-lg-3">
        <button type="button" class="btn btn-info btn-block btn-voirInter" id="hiddeAllUsers">
            <span class="glyphicon glyphicon-minus-sign"></span> Replier toutes les étapes</button>
    </div>
</div>

<div class="row" id="circuit_main">
    <div {#class="col-lg-12"#} id="circuit_etapes">
        <div id="contetapes">
            {% for etape in service %}

                <div class="{#col-lg-2 #}well etapes-circuit">

                    <button type="button" class="btn btn-danger btn-suppetape" id="suppetape"><span class="glyphicon glyphicon-remove"></span></button>

                    <div class="text-center"><h4>Etape</h4></div>
                    {#<input type="hidden" name="etape_id" value="{{ etape.id }}">#}
                    <select class="selusers" multiple="multiple" style="width: 100%" data-etape="{{ etape.id }}">
                        <optgroup label="Groupes d'utilisateurs">
                            {% for userPack in userPacks %}
                                <option value="userpack-{{ userPack.id }}" {% if userPack in etape.userPacks %} selected{% endif %} data-type="groupe">{{ userPack.nom }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="utilisateurs">
                            {% for user in users %}
                                <option value="user-{{ user.id }}" data-etape="{{ etape.id }}" data-type="user" {% if user in etape.users %} selected{% endif %}>{{ user.nom }} {{ user.prenom }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>

                    <button type="button" class="btn btn-info btn-block btn-voirInter" id="seeUsers"><span class="glyphicon glyphicon-plus-sign"></span> Voir les intervenants</button>
                    <button type="button" class="btn btn-info btn-block btn-voirInter" id="hiddeUsers"><span class="glyphicon glyphicon-minus-sign"></span> Cacher les intervenants</button>

                </div>
            {% endfor %}
            <input type="hidden" name="valeurs" id="valeurs">
            <div class="{#col-lg-2 #}text-center div-btn-ajout-etape">
                <button type="button" class="btn btn-info btn-ajout-etape" id="addetape"><span class="glyphicon glyphicon-plus-sign"></span><br>Ajouter une étape</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/jquery.mousewheel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/circuit_etape.js') }}"></script>
<link rel="stylesheet" href="{{ asset('/css/circuit.css') }}"/>
<script>
    $(document).ready(function() {

        scrollFrisque();


        // Fonction permettant d agrandir la frise dynamiquement.
        function scrollFrisque () {
            var widthLine = $('#circuit_main').css('width');
            $('#circuit_etapes').css('width', widthLine);
            var widthScroll = $('.etapes-circuit').length * 300 + 250;
            $('#contetapes').css('width', widthScroll);
//            console.log('widthScroll : ' + widthScroll);
        }

        // Sans bootstrap c'est la galère. Faut se gérer le rediemensionnement de la fenêtre à la mano...
        window.onresize = function(event) {
            scrollFrisque();
        };

        // Bug pourquoi devoir remmettre la fonction et la relancer dans l ajout d etape ?
        function creerFleches() {
            $(".fleche_circuit").remove();
            $("<span/>").addClass("fleche_circuit glyphicon glyphicon-chevron-right").insertAfter(".etapes-circuit:not(:last)");
        }

        // Pour le bouton de suppression de l etape
        $(document).on('click','#suppetape',function() {
            $(this).parent().remove();
            scrollFrisque();
            creerFleches();
        });

        $(document).on('click', '#addetape', function (e) {
            /*
             A chaque fois qu'on clique sur le bouton bleu une nouvelle etape de validation se crée
             */
            $(this).parent().remove();
            var contetapes = $('#contetapes');

            contetapes.append('' +
            '<div class="well etapes-circuit"><div class="text-center"><h4>Etape</h4></div><select class="selusers" multiple="multiple" style="width: 100%" data-etape="0"><optgroup label="Groupes d\'utilisateurs">{% for userPack in userPacks %}<option value="userpack-{{ userPack.id }}" data-type="groupe">{{ userPack.nom }}</option>{% endfor %}</optgroup><optgroup label="utilisateurs">{% for user in users %}<option value="user-{{ user.id }}" data-type="user">{{ user.nom }} {{ user.prenom }}</option>{% endfor %}</optgroup></select><button type="button" class="btn btn-danger btn-suppetape" id="suppetape"><span class="glyphicon glyphicon-remove"></span></button><button type="button" class="btn btn-info btn-block btn-voirInter" id="seeUsers"><span class="glyphicon glyphicon-plus-sign"></span> Voir les intervenants</button><button type="button" class="btn btn-info btn-block btn-voirInter" id="hiddeUsers" style="display:none;"><span class="glyphicon glyphicon-minus-sign"></span> Cacher les intervenants</button></div>' +
            '<div class="text-center div-btn-ajout-etape"><button type="button" class="btn btn-info btn-ajout-etape" id="addetape"><span class="glyphicon glyphicon-plus-sign"></span><br>Ajouter une étape</button></div>');

            scrollFrisque();

            $("select.selusers").select2();

            e.stopImmediatePropagation();
            creerFleches()
        });


        /*
         * Fonction permettant de recuperer les utilisateurs et les groupes pour l'envoie
         * La fonction recupère toutes les informations des selects et les stringify pour les passer dans un champs hidden
         */
        var tabGeneral = [];
        $('#new_classeur').submit(function(){
            /*
             * Pour chaque etape de validation créé on récupère les options sélectionnées
             *
             * */
            $('select.selusers').each(function(){

                var Etapes = {};
                Etapes.etape_id = $(this).data('etape');
                Etapes.etapes = [];

                if($(this).val())
                {
                    $(this).find(':selected').each(function(){
                        /*
                         * Pour chaque option selectionnée, on récupère son data-type(groupe ou user) et sa value (id du user ou du userPack)
                         * */
                        Etapes.etapes.push({
                            entite: $(this).data('type'),
                            id: $(this).val()
                        });
                    });
                } else {
                    e.preventDefault();
                }
                tabGeneral.push(Etapes);
            });

            /*
             * on met tout ça dans un tableau que l'on stringifie et qu'on met dans le hidden
             * */
            $('#valeurs').val(JSON.stringify(tabGeneral));

        });

        $(function() {
            $( "#contetapes" ).sortable({
                items :'> div:not(.etape-validante, .div-btn-ajout-etape)',
                tolerance: "pointer",
                stop: function (e, ui) {
                    creerFleches();
                }
            }).disableSelection();
        });



    });
</script>