
<link rel="stylesheet" href="{{ asset('/css/circuit.css') }}"/>

<!-- <div class="selects_circuit">
        <div class="titre_select">
            <label class="nametitle">
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;&nbsp;Circuits&nbsp;&nbsp;</label>
            <input class="nameinput" type="text">
        </div>
        <div id="circuits_list">
            {% for circuit in circuits %}
                <p data-id="{{ circuit.id }}" data-ordre="{{ circuit.ordre }}">{% if circuit.groupe == 1 %}<span class="glyphicon glyphicon-th-large"></span>{% endif %} {{ circuit.name }}</p>
            {% endfor %}
        </div>
        <span id="circuitadd_btn" class="glyphicon glyphicon-chevron-down"></span>
    </div>-->

<div id="circuit_editor">
    <div class="titre_select">
    </div>
    <div id="circuit">
        <img id="debut_circuit" src="{{ asset("/images/buttonlist.png") }}"/>
    </div>
</div>


<div class="top_selects_circuits" id="circuitvalidation">
    <span id="useradd_btn" class="glyphicon glyphicon-chevron-up"></span>
    <div class="titre_select">
        <label class="nametitle" id="users_complete">
            <span class="glyphicon glyphicon-search"></span>
            &nbsp;&nbsp;Utilisateurs&nbsp;&nbsp;</label>
        <input class="nameinput" type="text">
    </div>

    <div id="users_list">
        {% for user in users %}
            <p data-id="{{ user.id }}" data-img="{{ user.path }}">{{ user.prenom }} {{ user.nom }}</p>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    $(".nameinput").focus(function () {
        $(".glyphicon-search-blue").removeClass("glyphicon-search-blue");
        $(this).prev("label").addClass("glyphicon-search-blue");
    });

    $("#users_list p, #circuits_list p").click(function () {
        $(this).siblings(".list_selected_element").removeClass("list_selected_element");
        $(this).addClass("list_selected_element");
    });

    var path = "{{ asset(upload_path) }}";
</script>
<script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/circuit.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/autocomplete.js') }}"></script>
<script type="text/javascript">


    // $("#users_complete").autocomplete({ lookup: users_list });
</script>
