{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-book"></span>
            &nbsp;&nbsp;&nbsp;Gestion de la documentation
        </div>
        <div id="liste_patchs">
            <div class="titre_bloc_accueil">
                <span class="glyphicon glyphicon-eye-open"></span>
                Liste des patchs
            </div>
            <table class="table tableau dtables">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Version</th>
                    <th>Date de parution</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for patch in patchs %}
                    <tr>
                        <td style="line-height: 30px;vertical-align: middle">{{ patch.description }}</td>
                        <td style="line-height: 30px;vertical-align: middle">{{ patch.version }}</td>
                        <td style="line-height: 30px;vertical-align: middle">{{ patch.date|date("d/m/Y") }}</td>
                        <td style="text-align: center"><a href="{{ asset('/uploads/docs/') ~ patch.path }}"
                                                          target="_blank"><img src="{{ asset("/images/imgpdf.png") }}"
                                                                               height="30px"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{{ path('editPatch',{'id':patch.id}) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{{ path('deletePatch',{'id':patch.id}) }}"><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path("newPatch") }}">
                <button type="button" class="btn btn-default navbar-btn">
                    Ajouter une documentation patch
                </button>
            </a>
        </div>
        <br><br><br><br>

        <div id="liste_aides">
            <div class="titre_bloc_accueil">
                <span class="glyphicon glyphicon-eye-open"></span>
                Liste des aides en ligne
            </div>
            <table class="table tableau dtables">
                <thead>
                <tr>

                    <th>Description</th>
                    <th>Date de parution</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for aide in aides %}
                    <tr>
                        <td style="line-height: 30px;vertical-align: middle">{{ aide.description }}</td>
                        <td style="line-height: 30px;vertical-align: middle">{{ aide.date|date("d/m/Y") }}</td>
                        <td style="text-align: center"><a href="{{ asset('/uploads/docs/') ~ aide.path }}"
                                                          target="_blank"><img src="{{ asset("/images/imgpdf.png") }}"
                                                                               height="30px"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{{ path('editAide',{'id':aide.id}) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{{ path('deleteAide',{'id':aide.id}) }}"><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path("newAide") }}">
                <button type="button" class="btn btn-default navbar-btn">
                    Ajouter une aide en ligne
                </button>
            </a>
        </div>

        <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
        <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
        <script type="text/javascript">
            $("#liste_patchs .dtables").dataTable({
                "oLanguage": {
                    "sSearch": "Rechercher&nbsp;:",
                    "sInfo": "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                    "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sLengthMenu": "Afficher _MENU_ utilisateurs par page",
                    "oPaginate": {
                        "sFirst": "",
                        "sPrevious": "",
                        "sNext": "",
                        "sZeroRecords": "Aucun utilisateur &agrave; afficher",
                        "sEmptyTable": "Aucun utilisateur &agrave; afficher"
                    }
                },
                order: [[0, "asc"], [1, "asc"]],
                "iDisplayLength": 15,
                "aLengthMenu": [15, 30, 50, 100],
                "sDom": 'lft<"footer_datatables"p>',
                "sPaginationType": "full_numbers"
            });

            $("#liste_aides .dtables").dataTable({
                "oLanguage": {
                    "sSearch": "Rechercher&nbsp;:",
                    "sInfo": "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                    "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sLengthMenu": "Afficher _MENU_ utilisateurs par page",
                    "oPaginate": {
                        "sFirst": "",
                        "sPrevious": "",
                        "sNext": "",
                        "sZeroRecords": "Aucun utilisateur &agrave; afficher",
                        "sEmptyTable": "Aucun utilisateur &agrave; afficher"
                    }
                },
                order: [[0, "asc"], [1, "asc"]],
                "iDisplayLength": 15,
                "aLengthMenu": [15, 30, 50, 100],
                "sDom": 'lft<"footer_datatables"p>',
                "sPaginationType": "full_numbers"
            });
        </script>
    </div>
{% endblock %}