{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form) }}
<div class="label_form label-form-input">
    {{ form_label(form.Prenom, 'Prénom') }}
    {{ form_widget(form.Prenom) }}
</div>

<br/>

<div class="label_form label-form-input">
    {{ form_label(form.Nom, 'Nom') }}
    {{ form_widget(form.Nom) }}
</div>

<br/>

<div class="label_form label-form-input">
    {{ form_label(form.username, 'E-mail') }}
    {{ form_widget(form.username) }}
</div>
<br/>

<div class="label_form label-form-input">
    {{ form_label(form.qualite, 'Qualité') }}
    {{ form_widget(form.qualite) }}
</div>
<br/>

<div class="label_form parcou row">
    <div class="col-md-4">
        {{ form_label(form.file) }}
    </div>
    <div class="col-md-8">
        <div class="row">
            {{ form_widget(form.file, {'attr': { 'class' : 'upload_image', 'placeholder': ''} } ) }}
        </div>
        <div class="row">
            {% if user.path is defined and user.path is not null %}
                <img class="col-md-4 col-md-push-4" src="{{ asset(upload_path ~ user.path) }}"/>
            {% else %}
                <img class="col-md-4 col-md-push-4" src="{{ asset('/images/imghomme.png') }}"/>
            {% endif %}
        </div>
    </div>

</div>
<br/>

<div class="label_form parcou row">
    <div class="col-md-4">
        {{ form_label(form.fileSignature) }}
    </div>
    <div class="col-md-8">
        <div class="row">
            {{ form_widget(form.fileSignature, {'attr': { 'class' : 'upload_image', 'placeholder': ''} } ) }}
        </div>
        <div class="row">
            {% if user.pathSignature is defined and user.pathSignature is not null %}
                <img class="col-md-6 col-md-push-3" src="{{ asset(upload_path_signatures ~ user.pathSignature) }}"/>
            {% endif %}
        </div>
    </div>
</div>
<br/>

<div class="label_form label-form-input">
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
</div>
<br/>

{% for passwordField in form.plainPassword %}
    <div class="label_form label-form-input">
        {% if loop.index  != 1 %}
            {{ form_label(passwordField, 'Confirmation') }}
        {% else %}
            {{ form_label(passwordField, 'Mot de passe') }}
        {% endif %}
        {{ form_widget(passwordField) }}
    </div>
    <br/>
{% endfor %}
<br/>

<div style="display:none">
    {{ form_widget(form.apiactivated, {'attr': {'class': 'checkbox' }}) }}
</div>

<div id="apitokensecret" style="display: none">
    <div class="label_form_token label-form-input">
        {{ form_label(form.apitoken) }}
        {{ form_widget(form.apitoken) }}
    </div>
    <div class="label_form_token label-form-input">
        {{ form_label(form.apisecret) }}
        {{ form_widget(form.apisecret) }}
    </div>
    <br/>
</div>
<br/>

<button class="btn btn-success" type="submit">Mettre à jour</button>

{{ form_end(form) }}

<script src="{{ asset("/js/bootstrap-filestyle.min.js") }}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Personnalisation de l input file
        $(":file").filestyle({/*input: false, */buttonBefore: true, size: "sm", buttonText: "&nbsp;Télécharger une image", badge: false});
    });
</script>
<!--<script type="text/javascript">
    $(".label_form input").focus(function () {
        $(".glyphicon-search-blue").removeClass("glyphicon-search-blue");
        $(this).prev("label").addClass("glyphicon-search-blue");
    });

    $(".cb-enable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-disable', parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox', parent).attr('checked', true);
    });
    $(".cb-disable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-enable', parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox', parent).attr('checked', false);
    });

    if ($("#fos_user_profile_form_apiactivated").is(':checked')) {
        $('#apitokensecret').show('slow');
    } else {
        $('#apitokensecret').hide('slow');
    }


</script>
-->