{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form) }}
<div class="label_form label-form-input">
    {{ form_label(form.Prenom, 'Prénom') }}
    {{ form_widget(form.Prenom) }}
</div>

<br/>

<div class="label_form label-form-input">
    {{ form_label(form.Nom, 'Nom') }}
    {{ form_widget(form.Nom) }}
</div>

<br/>

<div class="label_form label-form-input">
    {{ form_label(form.username, 'E-mail') }}
    {{ form_widget(form.username) }}
</div>

<br/>

<div class="label_form parcou">
    {{ form_label(form.file) }}
    {{ form_widget(form.file) }}
</div>
<br/>

<div class="label_form label-form-input">
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
</div>
<br/>

{% for passwordField in form.plainPassword %}
    <div class="label_form label-form-input">
        {% if loop.index  != 1 %}
            {{ form_label(passwordField, 'Confirmation') }}
        {% else %}
            {{ form_label(passwordField, 'Mot de passe') }}
        {% endif %}
        {{ form_widget(passwordField) }}
    </div>
    <br/>
{% endfor %}
<br/>

<div style="display:none">
    {{ form_widget(form.apiactivated, {'attr': {'class': 'checkbox' }}) }}
</div>

<div id="apitokensecret" style="display: none">
    <div class="label_form_token label-form-input">
        {{ form_label(form.apitoken) }}
        {{ form_widget(form.apitoken) }}
    </div>
    <div class="label_form_token label-form-input">
        {{ form_label(form.apisecret) }}
        {{ form_widget(form.apisecret) }}
    </div>
    <br/>
</div>
<br/>

<button class="btn btn-success" type="submit">Mettre à jour</button>

{{ form_end(form) }}


<!--<script type="text/javascript">
    $(".label_form input").focus(function () {
        $(".glyphicon-search-blue").removeClass("glyphicon-search-blue");
        $(this).prev("label").addClass("glyphicon-search-blue");
    });

    $(".cb-enable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-disable', parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox', parent).attr('checked', true);
    });
    $(".cb-disable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-enable', parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox', parent).attr('checked', false);
    });

    if ($("#fos_user_profile_form_apiactivated").is(':checked')) {
        $('#apitokensecret').show('slow');
    } else {
        $('#apitokensecret').hide('slow');
    }


</script>
-->