{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;&nbsp;&nbsp;Editer une collectivité
        </div>
        <br>
	{{ form_start(edit_form) }}
	<div class="row">
	    <div class="col-md-3">{{ form_label(edit_form.nom) }}</div>
	    <div class="col-md-9">{{ form_widget(edit_form.nom) }}</div>
	</div>
	<div class="row">
	    <div class="col-md-3">{{ form_label(edit_form.domain) }}</div>
	    <div class="col-md-9">{{ form_widget(edit_form.domain) }}</div>
	</div>
	<div class="row">
	    <div class="col-md-3">{{ form_label(edit_form.active) }}</div>
	    <div class="col-md-9">{{ form_widget(edit_form.active) }}</div>
	</div>
	<div class="row">
	    <div class="col-md-3">{{ form_label(edit_form.file) }}</div>
	    <div class="col-md-9">{{ form_widget(edit_form.file) }}</div>
	</div>
	<br>
	<br>
	<div class="row">
	    <div class="col-md-2"></div>
	    <img class="gradientawesome col-md-8" src="{{ asset("/images/bg-module-top-shadow.png") }}"/>
	    <div class="col-md-2"></div>
	</div>
        {{ form_label(edit_form.textmailnew) }}
        {{ form_widget(edit_form.textmailnew) }}
        <br>
	<br>
	<br>
	<div class="row">
	    <div class="col-md-2"></div>
	    <img class="gradientawesome col-md-8" src="{{ asset("/images/bg-module-top-shadow.png") }}"/>
	    <div class="col-md-2"></div>
	</div>

        {{ form_label(edit_form.textmailrefuse) }}
        {{ form_widget(edit_form.textmailrefuse) }}
	<br>
	<br>
	<br>
	<div class="row">
	    <div class="col-md-2"></div>
	    <img class="gradientawesome col-md-8" src="{{ asset("/images/bg-module-top-shadow.png") }}"/>
	    <div class="col-md-2"></div>
	</div>

        {{ form_label(edit_form.textmailwalid) }}
        {{ form_widget(edit_form.textmailwalid) }}
	<br>
	<br>
	<br>
	<div class="row">
	    <div class="col-md-2"></div>
	    <img class="gradientawesome col-md-8" src="{{ asset("/images/bg-module-top-shadow.png") }}"/>
	    <div class="col-md-2"></div>
	</div>

        {{ form_label(edit_form.message) }}
        {{ form_widget(edit_form.message) }}
	<br>
	<br>

        <div class="row">
            <div class="col-lg-3">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success' }}) }}
            </div>
            <div class="col-lg-4">
                <a href="{{ path('index_collectivite') }}" class="btn btn-primary navbar-btn">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Retour aux collectivités
                </a>
            </div>
        </div>

        {{ form_end(edit_form) }}
        {#{{ form_start(delete_form) }}{{ form_end(delete_form) }}#}
    </div>

    <link rel="stylesheet" type="text/css" href="{{ asset("/bootstrap3-wysihtml5/src/bootstrap-wysihtml5.css") }}" />
    <script src="{{ asset("/bootstrap3-wysihtml5/lib/js/wysihtml5-0.3.0.js") }}" type="text/javascript"></script>
    <script src="{{ asset("/bootstrap3-wysihtml5/src/bootstrap3-wysihtml5.js") }}" type="text/javascript"></script>
    <script src="{{ asset("/bootstrap3-wysihtml5/src/locales/bootstrap-wysihtml5.fr-FR.js") }}"></script>
    <script type="text/javascript">
        $('textarea').wysihtml5({
            "image": false,
            locale: "fr-FR"
        });
    </script>
{% endblock %}