<table class="table tableau historiquebug" id="historiquebug">
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Date&nbsp;|&nbsp;Heure</th>
        <th>Action</th>
        <th>Observation</th>
    </tr>
    </thead>
    <tbody>
    {% for action in  actions %}
        <tr>
            <td>{{ action.username }}</td>
            <td>{{ action.date | date("d/m/Y") }}&nbsp;|&nbsp;{{ action.date | date("H:i:s") }}</td>
            <td>{{ action.action }}</td>
            <td>{{ action.observation }}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>






