<table class="table tableau historiquebug" id="historiquebug">
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Date&nbsp;|&nbsp;Heure</th>
        <th>Action&nbsp;|&nbsp;</th>
        <th>Observation&nbsp;|&nbsp;Commentaire</th>
    </tr>
    </thead>
    <tbody>
    {% for action in  actions %}
        <tr>
            <td>{{ action.username }}</td>
            <td>{{ action.date | date("d/m/Y") }}<br>
                {{ action.date | date("H:i:s") }}</td>
            <td>{{ action.action }}</td>

            <td><strong>{{ action.observation }}</strong>

                {{ action.commentaire }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>






