<!--<link rel="stylesheet" href="{{ asset("/css/bootstrapValidator.min.css") }}"/>
<script type="text/javascript" src="{{ asset("/js/js/bootstrapValidator.min.js") }}"></script> -->

<script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">
<script src="{{ asset("/js/select2.min.js") }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset("/css/select2.css") }}"/>


<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Visibilit&eacute;
</div>

<select class="fuckingvisibility" id="visibilite" name="visibilite">
    <option value="0">Privé</option>
    <optgroup label="Pour le groupe">
    {% for groupe in groupes %}
        <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
    {% endfor %}
    </optgroup>
</select>

<script type="text/javascript">
    $("#visibilite").select2();
</script>

<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Titre
</div>
<input class="form-control" id="name" name="name" placeholder="Nom" required="required">
<br>

<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Description
</div>
<textarea class="form-control" rows="3" name="desc" id="desc" placeholder="Description"></textarea>
<br>

<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Date limite de validation
</div>
<input class="datepicker" id="validation" name="validation" type="datetime" required="required"/>
<br>

<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Documents
</div>
<div id="documentcontent"></div>
<br>

<div class="titre_form_element">
    <span class="glyphicon glyphicon-play"></span>
    &nbsp;&nbsp;&nbsp;Circuit
</div>
<div id="circuitcontent"></div>
<br>

{% block extraform %}
{% endblock %}

<div>
    <br/>
    <button type="submit" name="Mybutton" id="Mybutton" class="btn btn-success">Envoyer</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Mybutton').click(function () {
            $(this).attr('disabled', true);
            setTimeout(function () {
                $('#Mybutton').attr('disabled', false);
            }, 2000)
        });
    });

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var dadapicker = $('#validation').datepicker({
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate',function (ev) {
                dadapicker.hide();
            }).data('datepicker');


</script>



