{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}

    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-cog"></span>
            &nbsp;&nbsp;&nbsp;Envoi d'un Emailing
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="alert-email alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Ce formulaire envoie un email à <strong>tous</strong> les utilisateurs de l'instance
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row row-padding">
            <div class="col-md-3">{{ form_label(form.sujet)}}</div>
            <div class="col-md-9">{{ form_widget(form.sujet, {'attr': {'class': 'form-control'}} ) }}</div>
        </div>
        <div class="row row-padding">
            <div class="col-md-3">{{ form_label(form.mailMessage) }}</div>
            <div class="col-md-9">{{ form_widget(form.mailMessage) }}</div>
        </div>
        <div class="row row-padding">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-9">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success disabled'}}) }}</div>
        </div>
        {{ form_end(form) }}
    </div>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">

        // Configuration TinyMce
        tinymce.init({
            selector:'#form_mailMessage',
            menubar: "false"
        });

        //var textarea = $(".textarea").data("wysihtml5").el;

        $("input").keyup(function() {
            that = $("button[type=submit]");
            $(this).val() ? that.removeClass("disabled") : that.addClass("disabled");
        });




    </script>
{% endblock %}