{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-comment"></span>
            &nbsp;&nbsp;&nbsp;Validité des classeurs
        </div>

        {{ form_start(form) }}
            <div class="row row-padding">
                <div class="col-lg-6 col-sm-12 col-xs-12">

                    <div class="form-group">
                        {{ form_label(form.deleteClasseurAfter) }}
                        {{ form_widget(form.deleteClasseurAfter, {'attr':{'class': 'form-control'}}) }}
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success' }}) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}