{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            &nbsp;&nbsp;&nbsp;Créer un groupe d'utilisateurs
        </div>
        <form action="{{ path('create_userpack') }}" class="form-horizontal" method="post" id="form">
            <div class="form-group">
                <label for="nom" class="col-lg-2 control-label">Nom</label>
                <div class="col-lg-6">
                    <input type="text" name="nom" class="form-control required" id="nom">
                </div>
            </div>
            <div class="form-group">
                <label for="nom" class="col-lg-2 control-label">Liste de utilisateurs</label>
                <div class="col-lg-6 ">
                    <select class="js-example-basic-multiple" style="width: 100%" multiple="multiple" id="listUsers" name="listUsers">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.prenom}} {{ user.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <input type="submit" class="btn btn-success" value="Enregistrer">
                </div>
                <input type="hidden" name="valeurs" id="valeurs">
            </div>
        </form>
        <div id="msg"></div>
    </div>
    <script type="application/javascript" src="{{ asset("/js/select2.min.js") }}"></script>
    <link type="text/css" href="{{ asset("/css/select2.css") }}" rel="stylesheet"/>
    <script>
        $(document).ready(function(){
            $("#listUsers").select2();
            $('#form').submit(function(e){
                /*
                 * valeurs contient les ids des users sélectionnés séparés par des virgules
                 */
                $('#valeurs').val($('#listUsers').val());

            });
        })
    </script>
{% endblock %}