{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;Types de classeurs
        </div>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>

        <table class="table tableau dtables">
            <thead>
            <tr>
                <th>Type de classeur</th>
                <th>Date de création</th>
                <th>Template</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr class="classeur-row" data-id="{{ type.id }}">
                    <td><a href="{{ path("update_type_classeur", {'id' : type.id }) }}" class="link-datatable">{{ type.nom }}</a></td>
                    <td></td>
                    <td></td>
                    <td class="boutons_action">
                        <a href="{{ path("update_type_classeur", {'id' : type.id }) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a href="{{ path("delete_classeur_type", {'id' : type.id }) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('new_type_classeur') }}">
            <button type="button" class="btn btn-primary navbar-btn">
                Créer un type de classeur
            </button>
        </a>

        {% include 'SesileClasseurBundle:Classeur:legendeAdmin.html.twig' %}

    </div>

    <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
    <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
    <script type="text/javascript">
        $(".dtables").dataTable({
            "oLanguage": {
                "sSearch": "Rechercher&nbsp;:",
                "sInfo": "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sLengthMenu": "Afficher _MENU_ types de classeur par page",
                "oPaginate": {
                    "sFirst": "",
                    "sPrevious": "",
                    "sNext": "",
                    "sZeroRecords": "Aucun type &agrave; afficher",
                    "sEmptyTable": "Aucun type &agrave; afficher"
                }
            },
            order: [[ 0, "asc" ]],
            "iDisplayLength": 15,
            "aLengthMenu": [15, 30, 50, 100],
            "sDom": 'lft<"footer_datatables"p>',
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ -1 ] }
            ],
            "sPaginationType": "full_numbers"
        });
    </script>

{% endblock %}