<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}SESILE 2.0 - Système Electronique de SIgnature LEgale{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}"/>
    {% if is_granted('ROLE_ADMIN') %}
        <link rel="stylesheet" href="{{ asset('/css/menu-media-queries.css') }}"/>
    {% endif %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
    <script type="text/javascript" src="{{ asset("/js/jquery-2.0.3.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('/js/lettering.js') }}"></script>
    <script src="{{ asset('/js/textillate.js') }}"></script>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    {% block css %}
    {% endblock %}
</head>
<body>

<div id="maman">
    <div id="gauche">
        <a href="{{ path('index') }}">
        <div id="logo">
                <img src="{{ asset("/images/logos.svg") }}"/>
        </div>
        </a>
        <img id="separateur_logo" src="{{ asset("/images/gradient-sesile.png") }}"/>
        <div id="logo">
        <div class="border_imposetonstyle">
            {#TODO : <img src="{{ asset(upload_path_logo ~ image) }}" width="60px" height="60px"/> #}
            <img  id="img_imposetonstyle"  src="{{ asset("/uploads/logo_coll/" ~ app.session.get('logo')) }}" />
        </div>
        </div>
        {% if is_granted('ROLE_USER') and app.user.collectivite is not null %}
        {% include 'SesileMainBundle:Default:menu.html.twig' %}
        {% endif %}
    </div>

    <div id="droite">
        <div id="header">
            {% if app.user != null %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img class="userpicture"
                             src="{% if app.user.path %}{{ asset(upload_path ~ app.user.path) }}{% else %}{{ asset("/images/imghomme.png") }}{% endif %}"/>
                        &nbsp;
                        {{ app.user.prenom }}&nbsp;{{ app.user.nom }}&nbsp;&nbsp;&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu menu_connexion" role="menu">
                        <li class="li1">
                            <a href="{{ path("fos_user_profile_edit") }}">
                                <span class="glyphicon glyphicon-user"></span>
                                Compte
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="li2">
                            <a href="{{ path("logout") }}">
                                <span class="glyphicon glyphicon-off"></span>
                                D&eacute;connexion
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-success" href="{{ path("login_check") }}">Connexion</a>
            {% endif %}
        </div>

        {% include 'SesileMainBundle:Default:flashbag.html.twig' %}
        <div id="lecontenu">
            {% block content %}
                <div id="contenu_acceuil">
                    {% if app.user == null %}
                        <div class="bloc_accueil">
                            <div id="bienvenue">
                                <div class="titre_bloc_accueil">
                                    <span class="glyphicon glyphicon-home"></span>
                                    Bienvenue
                                </div>
                                {% filter raw %}
                                {{ msg_acc|raw }}
                                {% endfilter %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="bloc_accueil">
                        {% if app.user %}
                            <script type="application/javascript"
                                    src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
                            <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}"
                                  rel="stylesheet"/>

                            {% render url("delegations_all_list") %}
                            <object id="winFirefoxPlugin" type="application/x-sharepoint" width="0" height="0"
                                    style="display: none;"></object>
                            <div id="classeurs_a_valider">
                                <div class="titre_bloc_accueil">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Classeurs à valider
                                </div>

                                <div id="classeur-a-valider">
                                    <img id="loadinggif" src="{{ asset("/bundles/sesilemain/img/load.gif") }}"/>
                                </div>
                                {#{% render url("classeur_a_valider") %}#}

                            </div>
                            <div id="liste_classeurs">
                                <div class="titre_bloc_accueil">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    Liste des classeurs
                                </div>
                                {% include "SesileClasseurBundle:Classeur:liste.html.twig" %}
                            </div>
                            {% include 'SesileClasseurBundle:Classeur:legende.html.twig' %}

                        {% else %}
                            <div class="titre_bloc_accueil">
                                <span class="glyphicon glyphicon-home"></span>
                                Informations
                            </div>
                            <div id="img_accueil">
                                <img src="{{ asset("/images/paraph_img_accueil.jpg") }}"/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div id="footer">
            <div id="textefooter">
                <span class="legal">
                    <a class="contact" href="mailto:internet@sictiam.fr">
                        <span class="lettersmove">CONTACT</span>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="sesiletooltip mentionlegales" href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode" target="_blank"><!-- data-toggle="tooltip"
                    title="Parapheur Sesile - 2013" -->
                        <span class="lettersmove">MENTIONS L&Eacute;GALES</span>

                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="sesiletooltip creativecommons" href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/" target="_blank"> <!--data-toggle="tooltip"
                    title="Creative Commons Attributions : <br /> Pas d'utilisation commerciale <br /> Pas de modification - 3.0 France"-->
                        <span class="lettersmove">CREATIVE COMMONS</span>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="sesiletooltip creativecommons" href="{{ path("apropos") }}" target="_blank"> <!--data-toggle="tooltip"
                    title="Creative Commons Attributions : <br /> Pas d'utilisation commerciale <br /> Pas de modification - 3.0 France"-->
                        <span class="lettersmove">À PROPOS</span>
                    </a>

                    </span>
                    <br/>
                    <span class="signature">
                    <a class="sitesictiam" href="http://www.sictiam.fr/" target="_blank">
                        COPYRIGHT &copy;2014
                        &nbsp; &ndash; &nbsp;
                        R&Eacute;ALIS&Eacute; PAR LE SICTIAM
                        &nbsp; &ndash; &nbsp;
                        SESILE version 3.0
                    </a>
                    </span>
            </div>
            <div id="logosictiampetit">
                <img src="/images/logosictiampetit.png"/>
            </div>
        </div>
    </div>
{% block losjavascriptos %}
{% endblock %}
<script type="text/javascript">

    $(document).ready(function() {

        /*$('#liste-classeurs').load("{{ path("liste_classeurs") }}");*/
        $('#classeur-a-valider').load("{{ path("classeur_a_valider") }}");
        {#{% render url("liste_classeurs") %}#}
    });



    $(".cb-enable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-disable', parent).removeClass('selected');
        $('.cb-enable', parent).addClass('selected');
        $('.checkbox', parent).attr('checked', false);
    });

    $(".cb-disable").click(function () {
        var parent = $(this).parents('.acti');
        $('.cb-enable', parent).removeClass('selected');
        $('.cb-disable', parent).addClass('selected');
        $(this).addClass('selected');
        $('.checkbox', parent).attr('checked', true);
    });


    $('.acti').each(function () {
        var checked = $('.checkbox', $(this)).is(':checked');

        if (checked) {

            $('.cb-disable', $(this)).removeClass('selected');
            $('.cb-enable', $(this)).addClass('selected');

            // $('.cb-enable', $(this)).click();
        } else {
            $('.cb-enable', $(this)).removeClass('selected');
            $('.cb-disable', $(this)).addClass('selected');

            //$('.cb-disable', $(this)).click();
        }
    });





    $('.sesiletooltip').tooltip({
        placement: 'top',
        html: true
    });

    var o_textill_color = $('.lettersmove').css('color');
    var textill = $('.lettersmove').textillate({
        autoStart: false,
        in: {
            effect: 'wobble',
            shuffle: true,
            delayScale: 1,
            delay: 200
        },
        callback: function () {
            var lettres = $(this);
            $.each(lettres, function (k, v) {
                $(this).css({ color: o_textill_color, 'font-weight': 'normal', 'font-size': parseInt($(this).css("font-size")) - 1 + 'px' });
            });
        }

    });

    var colours = ["#3285AB", "#CA4C4D", "#DBA209", "#83B13A"], idx;

    textill.on('mouseenter', function () {
        $(this).textillate('start');
        var lettres = $(this).find("span span span");
        $.each(lettres, function (k, v) {
            idx = Math.floor(Math.random() * colours.length);
            $(this).css({ color: colours[idx], 'font-weight': 'bold', 'font-size': parseInt($(this).css("font-size")) + 1 + 'px'  });
        });
    });

    footer();
    $(window).resize(function () {
        footer()
    });

    function footer() {
        var w_contenu = $("#lecontenu").width();
        var off_contenu = $("#lecontenu").offset();
        var posr_contenu = $("#maman").width() - (off_contenu.left + w_contenu);

        $("#footer").width(w_contenu).css({ right: posr_contenu, bottom: 0 });
    }

    {% block affichemenu %}
    {% endblock %}
</script>
</div>

</body>
</html>