<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"/>
    <script type="text/javascript" src="{{ asset("/js/jquery-2.0.3.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="maman">
    <div class="col-md-2" id="lemenu">
        <div>logo</div>
        {% include 'SesileMainBundle:Default:menu.html.twig' %}
    </div>
    <div class="col-md-10" id="content">
        <div id="header">
            {% block header %}
                {% if app.user != null %}
                    Bonjour {{ app.user.username }}<br>
                    <a href="{{ path("fos_user_security_logout") }}">D&eacute;connexion</a>
                {% else %}
                    <a href="{{ path("fos_user_security_login") }}">Connexion</a>
                {% endif %}
            {% endblock %}
        </div>
        <div id="lecontent">
            {% block content %}
                <div class="bloc_accueil">
                    <div id="bienvenue">
                        <div class="titre_bloc_accueil">Bienvenue</div>
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                        impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand
                        un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                    </div>
                </div>
                <div class="bloc_accueil">
                    <div id="classeurs_a_valider">
                        <div class="titre_bloc_accueil">Classeurs à valider</div>
                        {% render url("liste_classeurs") %}
                    </div>
                    <div id="liste_classeurs">
                        <div class="titre_bloc_accueil">Classeurs visibles</div>
                        {% render url("liste_classeurs") %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="" id="footer">
            BLABLA
        </div>
        {% block losjavascriptos %}
        {% endblock %}
    </div>
</div>
</body>
</html>