{% block menu %}
    <div class="menu">
        <ul>
            <li class="menu-elem menu-1"><a href="{{ path("classeur_new") }}">Création d'un circuit</a></li>
            <li class="menu-elem menu-2">
                <a class="dd-toggle" href="#">Classeurs<b class="caret"></b></a>
                <ul class="dd-menu">
                    <li><a href="{{ path("classeur") }}">Liste des classeurs</a></li>
                    <li><a href="{{ path("classeur_new") }}">Ajout d'un classeur</a></li>
                    <li><a href="">A valider</a></li>
                </ul>
            </li>
            <li class="menu-elem menu-3">
                <a data-toggle="dropdown" class="dd-toggle" href="#">Utilisateurs<b class="caret"></b></a>
                <ul class="dd-menu">
                    <li><a href="{{ path("liste_users") }}">Liste des utilisateurs</a></li>
                    <li><a href="{{ path("liste_users") }}">Voir son compte</a></li>
                    <li><a href="{{ path("liste_users") }}">Groupes</a></li>
                    <li><a href="{{ path("liste_users") }}">Hiérarchie</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(".dd-toggle").click(function () {
            $(this).next(".dd-menu").toggle();
        });
    </script>
{% endblock %}