{% block menu %}
    <script type="text/javascript">
        function msieversion() {
            var ua = window.navigator.userAgent
            var msie = ua.indexOf ( "MSIE " )
            if ( msie > 0 ) return parseInt (ua.substring (msie+5, ua.indexOf (".", msie )))
            else return 0

        }

        /*$("#browser").click(function() {
            if(msieversion() > 0) {
                alert(msieversion());
            }
        });*/
    </script>
    <div class="menu">
        <ul>
            <li class="menu-elem menu-jaune">
                <div class="dd-toggle entete-menu">

                    <a href="#">
                        <div class="rectanglemenu" id="jauneclair"></div>
                        Délégations<b class="caret carette"></b></a>
                </div>


                <ul class="dd-menu">
                    <li>
                        <a href="{{ path("delegations_list") }}">
                            <img class="arrows" src="{{ asset("/images/arrowyellow.png") }}"/>
                           Délégations données
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("delegations_recues") }}">
                            <img class="arrows" src="{{ asset("/images/arrowyellow.png") }}"/>
                            Délégations reçues
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-elem menu-bleu">
                <div class="dd-toggle entete-menu">
                    <a href="#">
                        <div class="rectanglemenu" id="bleuclair"></div>
                        Classeurs<b class="caret carette"></b></a>
                </div>
                <ul class="dd-menu">
		    <li>
			<a href="{{ path("classeur_new") }}">
			    <img class="arrows" src="{{ asset("/images/arrowblue.png") }}"/>
			    Ajout d'un classeur
			</a>
		    </li>
                    <li>
                        <a href="{{ path("index_valider") }}">
                            <img class="arrows" src="{{ asset("/images/arrowblue.png") }}"/>
                            Classeur(s) à valider
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("classeur") }}">
                            <img class="arrows" src="{{ asset("/images/arrowblue.png") }}"/>
                            Liste des classeurs
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("index_retractables") }}">
                            <img class="arrows" src="{{ asset("/images/arrowblue.png") }}"/>
                            Droit de retractation
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a href="{{ path("liste_classeurs_retired") }}">
                                <img class="arrows" src="{{ asset("/images/arrowblue.png") }}"/>
                                Classeurs à supprimer
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="menu-elem menu-orange ">
                <div class="dd-toggle entete-menu">
                    <a href="#">
                        <div class="rectanglemenu" id="orangeclair"></div>
                        Documentation<b class="caret carette"></b></a>
                </div>
                <ul class="dd-menu">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a href="{{ path("indexDoc") }}">
                                <img class="arrows" src="{{ asset("/images/arrowred.png") }}"/>
                                Gestion de la documentation
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path("patchs") }}">
                            <img class="arrows" src="{{ asset("/images/arrowred.png") }}"/>
                            Documentation des évolutions
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("aides") }}">
                            <img class="arrows" src="{{ asset("/images/arrowred.png") }}"/>
                            Aide en ligne
                        </a>
                    </li>
                </ul>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-elem menu-vert ">
                <div class="dd-toggle entete-menu">
                    <a href="#">
                        <div class="rectanglemenu" id="vertclair"></div>
                        Administration<b class="caret carette"></b>
                    </a>
                </div>
                <ul class="dd-menu">
                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path("notifications") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Notifications
                        </a>
                    </li>

                    <li>
                        <a href="{{ path("message_accueil") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Message d'accueil
                        </a>
                    </li>

                    <li>
                        <a href="{{ path("valid_classeur") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Validité des classeurs
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path("liste_type_classeur") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Types de classeurs
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path("liste_users") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Gestion des utilisateurs
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("userpacks") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            Groupes d'utilisateurs
                        </a>
                    </li>

                    <li>
                        <a href="{{ path("servicesorg") }}">
                            <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                            {#Nouveaux #}Services organisationnels
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a href="{{ path("index_collectivite") }}">
                                <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                                Collectivités
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("index_emailing") }}">
                                <img class="arrows" src="{{ asset("/images/arrowgreen.png") }}"/>
                                Emailing
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <script type="text/javascript">
        $(".entete-menu").click(function () {
            if(!$(this).hasClass("titremenu")) {
                $(".titremenu").removeClass("titremenu");
                $(this).addClass("titremenu");
                $(".dd-menu:visible").slideUp();
                $(this).next(".dd-menu").slideDown();
            }
        });

        $(".dd-menu li").click(function () {
            $(".dd-menu .titremenu").removeClass("titremenu");
            $(this).addClass("titremenu");
        });

        $(".titremenu").next(".dd-menu").slideDown();

        {% if menu_color is defined %}
            $(".menu-{{ menu_color }} .entete-menu").trigger("click");
        {% endif %}
    </script>
{% endblock %}