{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;&nbsp;&nbsp;Editer un utilisateur
        </div>

        {{ form_start(edit_form) }}

        <div class="label_form label-form-input">
            {{ form_label(edit_form.Prenom) }}
            {{ form_widget(edit_form.Prenom) }}
        </div>
        <br/>


        <div class="label_form label-form-input">
            {{ form_label(edit_form.Nom) }}
            {{ form_widget(edit_form.Nom) }}

        </div>

        <br/>


        <div class="label_form label-form-input">
            {{ form_label(edit_form.username) }}
            {{ form_widget(edit_form.username) }}
        </div>

        <br/>

        {% for passwordField in edit_form.plainPassword %}
            <div class="label_form label-form-input">
                {% if loop.index  != 1 %}
                    {{ form_label(passwordField, 'Confirmation') }}
                {% else %}
                    {{ form_label(passwordField, 'Mot de passe') }}
                {% endif %}
                {{ form_widget(passwordField) }}
            </div>
            <br/>
        {% endfor %}



        <div class="label_form label-form-input">
            {{ form_label(edit_form.ville) }}
            {{ form_widget(edit_form.ville) }}
        </div>
        <br/>

        <div class="label_form label-form-input">
            {{ form_label(edit_form.cp) }}
            {{ form_widget(edit_form.cp) }}
        </div>
        <br/>

        <div class="label_form label-form-input">
            {{ form_label(edit_form.departement) }}
            {{ form_widget(edit_form.departement) }}
        </div>
        <br/>

        <div class="label_form label-form-input">
            {{ form_label(edit_form.pays) }}
            {{ form_widget(edit_form.pays) }}
        </div>
        <br/>

        <div class="label_form label-form-input">
            {{ form_label(edit_form.role) }}
            {{ form_widget(edit_form.role) }}
        </div>
        <br/>

        <div class="label_form parcou">

            <label class="lbl_avatar">Avatar</label>
                <button type="button" class="btn_avatar">
                    Choisir un fichier
                </button>
                <span class="nom_avatar"></span>
                {{ form_widget(edit_form.file, { 'attr': {'class': 'parc_avatar'} }) }}
        </div>

        <script type="text/javascript">
            $(".btn_avatar").click(function () {
                $(".parcou input[type='file']").trigger("click");
            });

            $(".parcou input[type='file']").change(function (e) {
                var nom_fichier = e.target.files[0].name;
                $('.nom_avatar').text(nom_fichier);
            });
        </script>
        <br/>

        <div class="label_form pickuser">
            {{ form_label(edit_form.roles) }}
            {{ form_widget(edit_form.roles) }}
        </div>
        <br/>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="label_form pickuser">
                {{ form_label(edit_form.collectivite) }}
                {{ form_widget(edit_form.collectivite) }}
            </div>
        {% endif %}
        <br/>

        <div class="acti">
            <label for="{{ edit_form.enabled.vars.id }}" class="cb-enable selected">
                <span>Activé</span>
            </label>
            <label for="{{ edit_form.enabled.vars.id }}" class="cb-disable">
                <span>Désactivé</span>
            </label>
            {{ form_widget(edit_form.enabled, {'attr': {'class': 'checkbox' }}) }}
        </div>
        <br/>
        <br/>
        Accès aux API :


        {{ form_widget(edit_form.apiactivated, {'attr': {'class': 'checkbox' }}) }}

        <br/>

        <div id="apitokensecret" style="display:none">
            <div class="label_form_token label-form-input">
                {{ form_label(edit_form.apitoken) }}
                {{ form_widget(edit_form.apitoken) }}
            </div>
            <div class="label_form_token label-form-input">
                {{ form_label(edit_form.apisecret) }}
                {{ form_widget(edit_form.apisecret) }}
            </div>
            <br/>
        </div>
        <br/>


        <br/>

        <div class="row">
            <div class="col-lg-2">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success' }}) }}
                {{ form_end(edit_form) }}
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary navbar-btn" href="{{ path('liste_users') }}">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Retour aux utilisateurs
                </a>
            </div>
            <div class="col-lg-2 text-center">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger' }}) }}
                {{ form_end(delete_form) }}
            </div>
        </div>


        <br/>

    </div>

    <script type="text/javascript">
        /*  $(".label_form input").focus(function () {
            $(".glyphicon-search-blue").removeClass("glyphicon-search-blue");
            $(this).prev("label").addClass("glyphicon-search-blue");
        });



         $(".cb-enable").click(function () {
            var parent = $(this).parents('.acti');
            $('.cb-disable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', true);
        });
        $(".cb-disable").click(function () {
            var parent = $(this).parents('.acti');
            $('.cb-enable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', false);
        });

         */
        /*  $('.acti').each(function () {
            var checked = $('.checkbox', $(this)).is(':checked');

            if (checked) {

                $('.cb-disable', $(this)).removeClass('selected');
                $('.cb-enable', $(this)).addClass('selected');

                // $('.cb-enable', $(this)).click();
            } else {
                $('.cb-enable', $(this)).removeClass('selected');
                $('.cb-disable', $(this)).addClass('selected');

                //$('.cb-disable', $(this)).click();
            }
        });
         */
        $("#sesile_userbundle_user_apiactivated").change(function (e) {
            if ($(this).is(':checked')) {
                $('#apitokensecret').show('slow');
            } else {
                $('#apitokensecret').hide('slow');
            }
        });

        if ($("#sesile_userbundle_user_apiactivated").is(':checked')) {
            $('#apitokensecret').show('slow');
        } else {
            $('#apitokensecret').hide('slow');
        }


    </script>
{% endblock %}