{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;&nbsp;Liste des utilisateurs
        </div>
        <table class="table tableau dtables">
            <thead>
            <tr>
                <th>Collectivité</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="user-row" data-id="{{ user.id }}">
                    <td>{% if user.collectivite %}{{ user.collectivite.nom }}{% else %}NA{% endif %}</td>
                    <td>{{ user.Nom }} {{ user.Prenom }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <div class="active_inactive_user">
                            {% if user.enabled %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="boutons_action">
                        <a href="{{ path("user_edit", {'id' : user.id }) }}" title="Editer l'utilisateur">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path("classeur_admin", {'id' : user.id }) }}" title="Voir les classeurs de l'utilisateur"><span class="glyphicon glyphicon-eye-open"></span></a>
                        {% endif %}
                        <a class="" href="{{ path("user_delete", {'id' : user.id }) }}" title="Supprimer l'utilisateur">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path("ajout_user") }}">
            <button type="button" class="btn btn-default navbar-btn">
                Ajouter un utilisateur
            </button>
        </a>
        <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
        <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
        <script type="text/javascript">
            $(".dtables").dataTable({
                "oLanguage": {
                    "sSearch": "Rechercher&nbsp;:",
                    "sInfo": "Utilisateurs _START_ &agrave; _END_ sur _TOTAL_",
                    "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sLengthMenu": "Afficher _MENU_ utilisateurs par page",
                    "oPaginate": {
                        "sFirst": "",
                        "sPrevious": "",
                        "sNext": "",
                        "sLast": ""
                    },
                    "sZeroRecords": "Aucun utilisateur &agrave; afficher",
                    "sEmptyTable": "Aucun utilisateur &agrave; afficher"
                },
                order: [[ 0, "asc" ], [ 1, "asc" ]],
                "iDisplayLength": 15,
                "aLengthMenu": [15, 30, 50, 100],
                "sDom": 'lft<"footer_datatables"ip>',
                "aoColumnDefs": [
                    { "aTargets": [ 3,4 ], sClass: "center" },
                    { "bSortable": false, "aTargets": [ 3,4 ] }
                ],
                "sPaginationType": "full_numbers"
            });

            $(".user-row").click(function () {
                document.location.href = Routing.generate('user_edit', { id: $(this).data("id") });
            });
        </script>
    </div>
{% endblock %}