{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <script src="{{ asset("/js/select2.min.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("/css/select2.css") }}"/>
    <script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">
    <div class="bloc_page">
	<div class="titre_page">
	    <span class="glyphicon glyphicon-export"></span>
	    &nbsp;&nbsp;&nbsp;Déléguer ses droits
	</div>
	<form action="{{ path("delegation_create") }}" method="post">
        <div class="row">&nbsp;</div>
        <div class="row">
            {#<div id="delegaqui" class="col-md-6">#}
            <span class="deleg-to-someone col-md-2">Déléguer à : &nbsp;</span>
            <div class="col-md-3">
                <select name="user" id="selectuser">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.Nom }} {{ user.Prenom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">&nbsp;</div>

            {#<div id="delegdate" class="col-md-6">#}
        <div class="row">
            <span class="deleg-to-someone col-md-2">Début délégation : &nbsp;</span>
            <input class="datepicker deleg_debut_fin col-md-3" id="deleg_debut" name="debut" type="datetime"/>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <span class="deleg-to-someone col-md-2">Fin délégation : &nbsp;</span>
            <input class="datepicker deleg_debut_fin col-md-3" id="deleg_fin" name="fin" type="datetime"/>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    Enregistrer
                </button>
                <a href="{{ path('delegations_list') }}" class="btn btn-primary navbar-btn">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Retour à la liste des délégations
                </a>
            </div>
        </div>

	</form>
    </div>
    <script type="text/javascript">
    // Pour la recherche sur le select
    $('#selectuser').select2();

	var delegs = {{ delegs|json_encode|raw }};
	var recues = {{ recues|json_encode|raw }};

	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	var iduserselected = -1;
	//     alert(JSON.stringify(recues));

	var id = -1;


	function onRenderCheckin(date) {
	    var ok = true;
	    delegs.forEach(function (d) {

		// alert(date.valueOf()+"   -  "+d.debut+"000");


		if (date.valueOf() >= d.debut + "000" && date.valueOf() <= d.fin + "000") {

		    ok = false;
		}
	    });

	    recues.forEach(function (d) {
		console.log(d.userid + " , " + id);
		if (d.userid == id) {
		    if (date.valueOf() >= d.debut + "000" && date.valueOf() <= d.fin + "000") {

			ok = false;
		    }
		}

	    });

	    return (!ok || (date.valueOf() < now.valueOf())) ? 'disabled' : '';
	}


	var checkin = $('#deleg_debut')
		.datepicker({
		    onRender: function (date) {

			return onRenderCheckin(date);
		    }
		})
		.on('changeDate',function (ev) {
		    if (ev.date.valueOf() > checkout.date.valueOf()) {
			var newDate = new Date(ev.date)
			newDate.setDate(newDate.getDate() + 1);
			checkout.setValue(newDate);

		    }
		    checkin.hide();
		    checkout.onRender(function (date) {
			return onRenderCheckout(date);
		    });
		    $('#deleg_fin').datepicker('update');
		    $('#deleg_fin')[0].focus();
		}).data('datepicker');

	var checkout = $('#deleg_fin')
		.datepicker({
		    onRender: function (date) {

			return onRenderCheckout(date);
		    }
		})
		.on('changeDate',function (ev) {
		    checkout.hide();
		}).data('datepicker');


	function onRenderCheckout(date) {
	    var ok = true;
	    delegs.forEach(function (d) {

		// alert(date.valueOf()+"   -  "+d.debut+"000");


		if (date.valueOf() >= d.debut + "000" && date.valueOf() <= d.fin + "000") {

		    ok = false;
		}
	    });

	    recues.forEach(function (d) {
		console.log(d.userid + " , " + id);
		if (d.userid == id) {
		    if (date.valueOf() >= d.debut + "000" && date.valueOf() <= d.fin + "000") {

			ok = false;
		    }
		}

	    });
	    return (!ok || (date.valueOf() <= checkin.date.valueOf() )) ? 'disabled' : '';
	}


	function onUserChange() {
	    id = $('#selectuser').val();


	    checkin.onRender(function (date) {
		return onRenderCheckin(date);
	    });

	    $('#deleg_debut').datepicker('update');


	    checkout.onRender(function (date) {
		return onRenderCheckout(date);
	    });


	    $('#deleg_fin').datepicker('update');

	}

	$("#selectuser").change(function (e) {
	    onUserChange();
	});


	onUserChange();

    </script>
{% endblock %}