{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <script type="text/javascript" src="{{ asset("/js/bootstrap-datepicker.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/datepicker.css") }}">
    <div class="bloc_page">

        <div class="titre_page">
            <span class="glyphicon glyphicon-export"></span>
            &nbsp;&nbsp;&nbsp;Délégation
        </div>

        <span class="deleg-to-someone">Vous déléguez à &nbsp;</span><img class="userpicture"
                                                                            src="{{ asset(upload_path ~ delegation.user.path) }}"/>{{ delegation.user.Prenom }} {{ delegation.user.Nom }}




        <span class="deleg-to-someone">Du &nbsp;</span>{{ delegation.debut|date("d/m/Y") }} <span class="deleg-to-someone">Au  &nbsp;</span> {{ delegation.fin|date("d/m/Y") }}
        <span class="deleg-to-someone">Inclus</span>





        <form action="{{ path("delegation_delete") }}" method="post"  onsubmit="return confirm('Voulez vous vraiment supprimer cette délégation ?');">
            <input type="hidden" value="{{ delegation.id }}" name="id"/>
            <br/><br/>

            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>

    <script type="text/javascript">
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#deleg_debut')
                .datepicker({
                    onRender: function (date) {
                        return date.valueOf() < now.valueOf() ? 'disabled' : '';
                    }
                })
                .on('changeDate',function (ev) {
                    if (ev.date.valueOf() > checkout.date.valueOf()) {
                        var newDate = new Date(ev.date)
                        newDate.setDate(newDate.getDate() + 1);
                        checkout.setValue(newDate);
                    }
                    checkin.hide();
                    $('#deleg_fin')[0].focus();
                }).data('datepicker');

        var checkout = $('#deleg_fin')
                .datepicker({
                    onRender: function (date) {
                        return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
                    }
                })
                .on('changeDate',function (ev) {
                    checkout.hide();
                }).data('datepicker');


		{% block affichemenu %}
		$(".menu-jaune .entete-menu").each(function(){
		    affiche(this);
		});
	{% endblock %}
    </script>

{% endblock %}