{% if not((delegations is empty) and (donnees is empty)) %}

    <div id="delegations_recues">
        <div class="titre_bloc_accueil">
            <span class="glyphicon glyphicon-share"></span>
            Délégations
        </div>
        <table class="table tableau dtables">
            <thead>
            <tr>
                <th width="10%">Entrant/Sortant</th>
                <th>Utilisateur</th>
                <th>Début</th>
                <th>Fin</th>

                {% if donnees is defined %}
                    <th>Action</th>{% endif %}
            </tr>
            </thead>
            {% for delegation in delegations %}
                <tr class="delegation_row {% if loop.index0 % 2 != 0 %}even{% else %}odd{% endif %}">
                    <td><span class="glyphicon glyphicon-import delegre"></span></td>
                    <td>{{ delegation.delegant.nom }} {{ delegation.delegant.prenom }}</td>
                    <td>{{ delegation.debut | date('d/m/Y') }}</td>
                    <td>{{ delegation.fin | date('d/m/Y') }}</td>

                    <td class="boutons_action">

                    </td>

                </tr>
            {% endfor %}



            {% for delegation in donnees %}
                <tr class="delegation_row {% if loop.index0 % 2 != 0 %}even{% else %}odd{% endif %}">
                    <td><span class="glyphicon glyphicon-export delegdo"></span></td>
                    <td>{{ delegation.user.nom }} {{ delegation.user.prenom }}</td>
                    <td>{{ delegation.debut | date('d/m/Y') }}</td>
                    <td>{{ delegation.fin | date('d/m/Y') }}</td>

                    <td class="boutons_action">
                        <a href="{{ path("delegation_delete", {'id' : delegation.id }) }}" class="deleter" title="Supprimer la délégation">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        $('.deleter').confirm({
            text: "Etes-vous sur de vouloir supprimer cette délégation?",
            confirmButton: "Supprimer",
            cancelButton: "Annuler",
            confirmButtonClass: "btn btn-danger pull-right"

        });
    </script>
{% endif %}