<table class="table tableau dtables">
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Début</th>
        <th>Fin</th>
    </tr>
    </thead>
    {% for delegation in delegations %}
        <tr class="delegation_row {% if loop.index0 % 2 != 0 %}even{% else %}odd{% endif %}">
            <td>{{ delegation.user.nom }} {{ delegation.user.prenom }}</td>
            <td>{{ delegation.debut | date('d/m/Y') }}</td>
            <td>{{ delegation.fin | date('d/m/Y') }}</td>
            {% if donnees is defined %}
                <td class="boutons_action">
                    <a href="{{ path("delegation_delete", {'id' : delegation.id }) }}" class="deleter">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<script>
    $('.deleter').confirm({
        text: "Etes-vous sur de vouloir supprimer cette délégation?",
        confirmButton: "Supprimer",
        cancelButton: "Annuler",
        confirmButtonClass: "btn btn-danger pull-right"

    });
</script>