Bonjour {{ validant }},
<br>
Un nouveau classeur {{ titre_classeur }} vient d'être déposé par {{ deposant }}
<br>
Il convient de le valider avant le {{ date_limite | date('d/m/Y') }}.
<br>
Vous pouvez visionner le classeur <a href="{{ lien|raw }}"></a>